In [2]:
!pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/22/e6/2d47835f91eb010036be207581fa113fb4e3822ec1b4bafb0d3d105fede6/pandas-0.24.2-cp37-cp37m-manylinux1_x86_64.whl (10.1MB)
    100% |████████████████████████████████| 10.1MB 1.8MB/s eta 0:00:01
Collecting numpy>=1.12.0 (from pandas)
  Downloading https://files.pythonhosted.org/packages/91/e7/6c780e612d245cca62bc3ba8e263038f7c144a96a54f877f3714a0e8427e/numpy-1.16.2-cp37-cp37m-manylinux1_x86_64.whl (17.3MB)
    100% |████████████████████████████████| 17.3MB 1.0MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.7/site-packages (from pandas) (2.8.0)
Collecting pytz>=2011k (from pandas)
  Downloading https://files.pythonhosted.org/packages/3d/73/fe30c2daaaa0713420d0382b16fbb761409f532c56bdcc514bf7b6262bb6/pytz-2019.1-py2.py3-none-any.whl (510kB)
    100% |████████████████████████████████| 512kB 25.0MB/s ta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.16.2 pandas-0.24.2 pytz-2019.1

In [3]:
import pandas as pd
import numpy as np
import requests # library to handle requests
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.6.13

Please update conda by running

    $ conda update -n base conda



## Package Plan ##

  environment location: /srv/conda

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-1.19.0               |             py_0          53 KB  conda-forge
    geographiclib-1.49         |             py_0          32 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          85 KB

The following NEW packages will be INSTALLED:

    geographiclib: 1.49-py_0   conda-forge
    geopy:         1.19.0-py_0 conda-forge


Downloading and Extracting Packages
geopy-1.19.0         | 53 KB     | ##################################### | 100%
geographiclib-1.49   | 32 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [23]:
df = pd.read_csv("https://raw.githubusercontent.com/ninjananjo/Clothing-Store-Competition/master/StoreLocations.csv")
df.shape

(16, 56)

In [24]:
df = df[['TOWN','NAME','ID','COUNTRY','Address1','Postcode','Host']]
df = df[df['ID'].str.startswith("TS")]

In [33]:
#Add lontitude and lattitude data
addresses = df['Postcode']
addresses_alt = df['Address1']
latitude = []
longitude = []

for address in addresses:
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode(address+", UK")
    location_alt = geolocator.geocode(addresses_alt+", UK")
    try:
        latitude.append(location.latitude)
        longitude.append(location.longitude)
    
    except AttributeError:
        
        try:
            latitude.append(location_alt.latitude)
            longitude.append(location_alt.longitude)
        except:    
            latitude.append(0)
            longitude.append(0)

        
df['Latitude']= latitude
df['Longitude']= longitude

In [44]:
#remove regions that location information was not available
df = df[(df['Latitude']!=0)| (df['Longitude']!=0)]
print(df.shape[0])
df

5

,TOWN,NAME,ID,COUNTRY,Address1,Postcode,Host,Latitude,Longitude
10,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TS0001,ENG,214 Oxford Street,W1W 8LG,TS0001,51.515534,-0.141352
11,LONDON (STRAND),STRAND,TS0032,ENG,60/64 The Strand,WC2N 5LR,TS0032,51.509692,-0.122906
12,LONDON (CITY),CHEAPSIDE,TS0873,ENG,Unit Msu1,EC2V 6AH,TS0873,51.514098,-0.094914
13,LONDON (WHITE CITY),WHITE CITY,TS0874,ENG,2039-2041,W12 7GE,TS0874,51.507417,-0.221361
14,LONDON (KNIGHTSBRIDGE),KNIGHTSBRIDGE,TS1054,ENG,70 Brompton Road,SW3 1ER,TS1054,51.499774,-0.164215

In [45]:
CLIENT_ID = 'QKP4KVQQZPVXMOKNIXHGQAT1E2IJZCHQPFB4XJGP3MC0CFUO' # your Foursquare ID
CLIENT_SECRET = '1N5BIRBR1EA5CO1QFMNHU1241SOFM5KJLLQRJGMDC0NOYWPH' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 200 # limit of number of venues returned by Foursquare API
radius = 200 # define radius
categoryId = '4bf58dd8d48988d103951735'

In [51]:

#What are the most popular places nearby?

def getNearbyVenues(names, latitudes, longitudes, radius=1000):
    
    
    region_list = []
    
    for name, lat, lng in zip(names, latitudes, longitudes):
                    
        # create the API request URL
        #url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        #url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&categoryId={}'.format(    
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT,
            categoryId)
        
        #print(url) 
        
        # make the GET request
        results = requests.get(url).json()["response"]
        
        #flatten JSON file
        resultsVen = json_normalize(results['venues'])
        resultsCat = json_normalize(data=results['venues'], record_path=['categories'], record_prefix='cat_', errors='ignore')
        resultsVenCat = pd.concat([resultsVen, resultsCat], axis=1)
        resultsVenCat = resultsVenCat[['id','name','location.distance','location.formattedAddress','location.lat','location.lng','cat_name']]
        
        #Add region name and average price 
        for i in range(0,resultsVen.shape[0]):
            region_list.append(name)
                    
        region_list = pd.DataFrame(region_list, columns=['Region Name'])
        
        nearbyVenues = pd.concat([region_list, resultsVenCat], axis=1)

    return(nearbyVenues)

In [53]:
regions_venues = pd.DataFrame()

#request venue information for each region and store in regions_venues
for region in df['ID'].unique():
    region_venues = df[df['ID']==region]
    regions_venues = regions_venues.append((getNearbyVenues(names=region_venues['ID'],
                                                  latitudes=region_venues['Latitude'],
                                                  longitudes=region_venues['Longitude'],
                                                  radius=radius)),ignore_index=True)
    
#rename columns
regions_venues.rename(columns={'id':'Venue ID',
                          'name':'Venue Name',
                          'location.distance':'Venue Distance',
                          'location.formattedAddress':'Venue Address',
                          'location.lat':'Venue Lat',
                          'location.lng':'Venue Lng',
                          'cat_name':'Venue Category'}, inplace=True)

In [54]:
regions_venues

,Region Name,Venue ID,Venue Name,Venue Distance,Venue Address,Venue Lat,Venue Lng,Venue Category
0,TS0001,4b7979bff964a5205ffb2ee3,Topshop,12,"[214-216 Oxford St, London, Greater London, W1...",51.515441,-0.141262,Women's Store
1,TS0001,4bd52dcf637ba593881bf670,Topman,23,"[214-216 Oxford St (36-38 Great Castle St), Lo...",51.515602,-0.141031,Men's Store
2,TS0001,4ac518f0f964a520afad20e3,NikeTown,33,"[236 Oxford St, London, Greater London, W1C 1D...",51.515488,-0.141824,Sporting Goods Shop
3,TS0001,4b796f06f964a5204ef92ee3,Miss Selfridge,22,"[36 Great Castle St, Oxford Circus, Greater Lo...",51.515547,-0.141030,Women's Store
4,TS0001,4bd970a1e914a593467556fa,Gap,42,"[223-225 Oxford St, London, Greater London, W1...",51.515510,-0.140741,Clothing Store
5,TS0001,4b7979eaf964a5206ffb2ee3,Mango,50,"[225 Oxford St, Marylebone, Greater London, W1...",51.515473,-0.140628,Clothing Store
6,TS0001,4ad45d7af964a520a5e720e3,Urban Outfitters,50,"[200 Oxford St, London, Greater London, W1D 1N...",51.515567,-0.140621,Clothing Store
7,TS0001,4c3335b47cc0c9b63961f19a,Fresh Collection,13,"[237 Oxford Street, City of Westminster, Great...",51.515655,-0.141372,Shoe Store
8,TS0001,4ad718f7f964a520ac0821e3,H&M,69,"[271 Regent Street, London, Greater London, W1...",51.515478,-0.142351,Clothing Store
9,TS0001,4bead0c4ca97d13adb926c77,Tezenis,47,"[266/270 Regent St (Oxford St), Soho, Greater ...",51.515230,-0.141833,Lingerie Store
10,TS0001,5139e79fe4b0bcfbb517fb3a,& Other Stories,71,"[256-258 Regent St, London, Greater London, W1...",51.514910,-0.141117,Women's Store
11,TS0001,4c2f245aa0ced13a9dfc0f6e,Zara,89,"[215-219 Oxford St, London, Greater London, W1...",51.515557,-0.140065,Clothing Store
12,TS0001,4b9256f0f964a5201bf333e3,Bershka,68,"[221-223 Oxford St, London, Greater London, W1...",51.515547,-0.140362,Clothing Store
13,TS0001,4bf3b6f76a31d13a15e4942e,Ted Baker,121,"[245 Regent St (btwn Oxford & Hanover St.), Lo...",51.514466,-0.141724,Clothing Store
14,TS0001,4b058572f964a5200d5922e3,schuh,76,"[200 Oxford Street, London, Greater London, W1...",51.515643,-0.140266,Shoe Store
15,TS0001,4f7c669de4b0023304889a07,River Island,106,"[207-213 Oxford St, London, Greater London, W1...",51.515564,-0.139808,Clothing Store
16,TS0001,4addfaa5f964a520066721e3,OFFICE,124,"[190 Oxford St, Oxford Circus, Greater London,...",51.515639,-0.139559,Shoe Store
17,TS0001,5996f5ca0336934621393c81,Weekday,187,"[226 Regent Street, London, Greater London, W1...",51.513855,-0.141077,Clothing Store
18,TS0001,5a084da489e49013ae442cdb,Canada Goose,134,"[244 Regent Street, London, Greater London, W1...",51.514326,-0.141407,Clothing Store
19,TS0001,4c1128013ce120a1283e091c,Warehouse,66,"[Argyll St, London, Greater London, W1, United...",51.514961,-0.141057,Clothing Store
20,TS0001,4c1a1a5598f4a5938c0401f6,H&M,148,"[174-176 Oxford Street East (Regents St), Lond...",51.515708,-0.139229,Clothing Store
21,TS0001,4af1cf79f964a52061e321e3,UNIQLO,186,"[170 Oxford St, London, Greater London, W1D 1N...",51.515711,-0.138681,Clothing Store
22,TS0001,4e1af4a06284c069739a272f,Clarks,157,"[260 Oxford St, London, Greater London, W1C 1D...",51.515132,-0.143525,Shoe Store
23,TS0001,5a4b6c568ad62e53ef9814a2,Margaret Howell Sale Shop,140,"[63 Margaret Street, London, Greater London, W...",51.516692,-0.140540,Clothing Store
24,TS0001,4bf95bab4a67c9284aaf26cf,AllSaints,148,"[240 Regent St, London, Greater London, W1B 3B...",51.514204,-0.141552,Clothing Store
25,TS0001,4af2f214f964a52057e921e3,H&M,167,"[224 Regent Street, London, Greater London, W1...",51.514030,-0.141326,Clothing Store
26,TS0001,599ffead625a66012f1f0127,ARKET,197,"[224 Regent St, London, Greater London, W1B 3B...",51.513774,-0.140994,Clothing Store
27,TS0001,526b5c7a498ea7e2088e2210,G-Star Raw,206,"[272-274 Oxford St, London, Greater London, W1...",51.515160,-0.144265,Clothing Store
28,TS0001,4ac518edf964a520a6ac20e3,Karen Millen,114,"[247 Regent St, London, Greater London, W1B 2E...",51.514583,-0.141993,Women's Store
29,TS0001,4e49140b18a8f9804ceae8ee,SoTinyLondon,195,"[Great Titchfield Street, United Kingdom]",51.515767,-0.138558,Kids Store
...,...,...,...,...,...,...,...,...
201,TS1054,50969e4de4b02645e0391ced,Crockett & Jones,105,"[155 Brompton Road, London, Greater London, SW...",51.498965,-0.165010,Shoe Store
202,TS1054,4fa7cee3e4b017e939c092ba,Prada,97,"[87-135 Brompton Rd, London, Greater London, U...",51.499915,-0.162824,Accessories Store
203,TS1054,5449172b498eee63c64c7939,Porsche Design Store London,150,"[Brompton Road 59, London, Greater London, Uni...",51.500624,-0.162536,Accessories Store
204,TS1054,4dbabf496e815ab0de5910e7,Christian Louboutin,123,"[87-135 Brompton Road, Knightsbridge, Greater ...",51.499102,-0.162801,Shoe Store
205,TS1054,508a9a90e4b0ba328fee1c2f,Manolo Blahnik,127,"[87-135 Brompton Rd, United Kingdom]",51.499306,-0.162528,Boutique
206,TS1054,507acf48e4b0602b63521aaa,Dior,206,"[87-135 Brompton Rd, London, Greater London, S...",51.498541,-0.161983,Boutique
207,TS1054,4e3fc152ae60454236827433,Pinko,122,"[161 Brompton Rd, London, Greater London, Unit...",51.498845,-0.165150,Women's Store
208,TS1054,52d90307498ef31bf83fc624,Fashion Lab,187,"[87-135 Brompton Rd, London, Greater London, S...",51.499231,-0.161647,Boutique
209,TS1054,579953ee498e770ea938bd65,Salvatore Ferragamo Harrod's Women's Shoes,113,"[87-135 Brompton Rd, London, Greater London, S...",51.499454,-0.162658,Shoe Store
210,TS1054,504f7bb3e4b0c321cd4e7172,Ted Baker,129,"[37 Brompton Rd., Knightsbridge, Greater Londo...",51.500395,-0.162632,Clothing Store
211,TS1054,557092cf498e914667293e7f,Lalage Beaumont,221,"[58 Beauchamp Place, Knightsbridge, Greater Lo...",51.498020,-0.165712,Women's Store
212,TS1054,51d6d576498e9f26f8491ee0,Longchamp,88,[United Kingdom],51.498989,-0.164043,Boutique
213,TS1054,504f3c02e4b07b1acffb5f19,Shoe Gallery In Harrods,163,"[87-135 Brompton Rd, United Kingdom]",51.499321,-0.161963,Shoe Store
214,TS1054,5c1556052db4a9002c92d6a1,The Womenswear Hall,116,"[London, Greater London, SW1X 7XL, United King...",51.499382,-0.162659,Clothing Store
215,TS1054,510e7a8fe4b0898fb87f321e,Roger Vivier @ Harrods,152,[United Kingdom],51.499115,-0.162287,Boutique
216,TS1054,4b166178f964a52091b823e3,Gap,104,"[145-149 Brompton Road, London SW3 1QP (off Ha...",51.498954,-0.164937,Clothing Store
217,TS1054,4d0cfeb1be6d6ea8037f02b5,Lacoste,175,"[52 Brompton Rd, London, Greater London, SW3 1...",51.500765,-0.162249,Clothing Store
218,TS1054,54dcdaed498ea3875af6928f,Maison Margiela,127,"[87-135 Brompton Rd, London, Greater London, S...",51.499219,-0.162606,Men's Store
219,TS1054,508bcb83e4b01ff751fd6af8,Reiss,124,"[163-169 Brompton Rd, London, Greater London, ...",51.498819,-0.165156,Clothing Store
220,TS1054,5adcad492f97ec18e02ca449,Balmain,137,"[87-135 Brompton Rd, London, Greater London, S...",51.499362,-0.162347,Boutique
221,TS1054,4ac518eff964a52046ad20e3,Feathers,147,"[40 Hans Crescent, London, Greater London, SW1...",51.499593,-0.162110,Women's Store
222,TS1054,4ec516270e01a510cd55fb15,Accessorize,165,"[53 Brompton Rd, Knightsbridge, Greater London...",51.500744,-0.162399,Accessories Store
223,TS1054,4fe20da9e4b0b006770746b4,Lacoste,194,"[40 Brompton Rd, London, Greater London, Unite...",51.500764,-0.161898,Clothing Store
224,TS1054,4e5ba8b5d4c0ba8c11ba3846,Paul Smith,117,"[87-135 Brompton Rd, London, Greater London, S...",51.500100,-0.162601,Boutique
225,TS1054,4f5617d9e4b0131bc3e3f283,VALENTINO,174,"[87-153 Brompton Road, Harrods, London, Greate...",51.499197,-0.161881,Women's Store
226,TS1054,58dd50156f20d10582bf317b,Thom Browne Corner,209,"[87-135 Brompton Rd, London, Greater London, S...",51.498750,-0.161686,Clothing Store
227,TS1054,50bba53a498e6c9d60d20c40,Balenciaga,100,"[87-135 Brompton Rd, London, Greater London, U...",51.499339,-0.162950,Shoe Store
228,TS1054,4b894efef964a520562a32e3,French Connection,177,"[44 Brompton Rd, Knightsbridge, Greater London...",51.500761,-0.162207,Clothing Store
229,TS1054,5315ac38498efeb81301df68,Harrods Sports Fashion,100,"[87-135 Brompton Rd, London, Greater London, S...",51.499339,-0.162950,Clothing Store
230,TS1054,598b1156db1d81279ebf3bed,Cloé,208,"[87-135 Brompton Rd, London, Greater London, S...",51.498747,-0.161697,Clothing Store