In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\james\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\james\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in c:\users\james\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
import pandas as pd
import numpy as np
import requests # library to handle requests
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

!conda install -c conda-forge folium --yes
import folium

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Collecting package metadata: ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\james\Anaconda3

  added / updated specs:
    - folium


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-3.0.1               |           py37_0         722 KB  conda-forge
    branca-0.3.1               |             py_0          25 KB  conda-forge
    folium-0.8.3               |             py_0          54 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         829 KB

The following NEW packages will be INSTALLED:

  altair             conda-forge/win-64::altair-3.0.1-py37_0
  branca             conda-forge/noarch::branca-0.3.1-py_0
  folium             conda-forge/noarch::folium-0.8.3-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1



Downloading and Extracting Packages

vincent-0.4.4        | 28 KB     |            |   0%
vincent-0.4.4        | 28 KB     | #######5   |  75%
vincent-0.4.4        | 28 KB     | ########## | 100%

folium-0.8.3         | 54 KB     |            |   0%
folium-0.8.3         | 54 KB     | ########## | 100%

altair-3.0.1         | 722 KB    |            |   0%
altair-3.0.1         | 722 KB    | ##3        |  23%
altair-3.0.1         | 722 KB    | ####4      |  45%
altair-3.0.1         | 722 KB    | #######5   |  75%
altair-3.0.1         | 722 KB    | ########9  |  90%
altair-3.0.1         | 722 KB    | ########## | 100%

branca-0.3.1         | 25 KB     |            |   0%
branca-0.3.1         | 25 KB     | ####7      |  47%
branca-0.3.1         | 25 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/ninjananjo/Clothing-Store-Competition/master/StoreLocations.csv")
df.shape

(8, 56)

In [4]:
df = df[['TOWN','NAME','ID','COUNTRY','Address1','Postcode','Host']]
#df = df[df['ID'].str.startswith("TS")]
df.head(10)

,TOWN,NAME,ID,COUNTRY,Address1,Postcode,Host
0,LONDON (OXFORD CIRCUS),LONDON OXFORD CIRCUS,MS0325,ENG,"Ground Floor, 36-38 Great Castle Street",W1W 8LG,TS0001
1,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TM7329,ENG,214 Oxford Street,W1W 8LG,TS0001
2,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TS0001,ENG,214 Oxford Street,W1W 8LG,TS0001
3,LONDON (CITY),CHEAPSIDE,TS0873,ENG,Unit Msu1,EC2V 6AH,TS0873
4,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE OUTFIT,OU0207,ENG,72-76,NE1 7DF,OU0207
5,Z USA LOS ANGELES,LOS ANGELES,TM8104,US,189 The Grove Drive,90036,TS1271
6,MANCHESTER (TRAFFORD C),TRAFFORD CENTRE,TS1012,ENG,130-134 Regent Crescent,M17 8AF,TS1012
7,HAYES,HAYES LOMBARDY RET PARK OUTFIT,OU0201,ENG,Unit 3,UB3 3EX,OU0201

In [13]:
def getLocation(storeName, postcode, country):
    
    if country == 'ENG': country = "UK"
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode(postcode+" "+country)
    location_alt = geolocator.geocode(storeName+" "+country)
    try:
        lat = location.latitude
        lng = location.longitude
    except:
        try:
            lat = location_alt.latitude
            lng = location_alt.longitude
        except:
            lat = 0
            lng = 0
            
    return(lat,lng)

In [16]:
latitude = []
longitude = []

for storeName, postcode, country in zip(df['NAME'],df['Postcode'],df['COUNTRY']):
    lati, lngi = getLocation(storeName, postcode, country)
    latitude.append(lati)
    longitude.append(lngi)

df.loc[:,'Latitude']= latitude
df.loc[:,'Longitude']= longitude

,TOWN,NAME,ID,COUNTRY,Address1,Postcode,Host,Latitude,Longitude
0,LONDON (OXFORD CIRCUS),LONDON OXFORD CIRCUS,MS0325,ENG,"Ground Floor, 36-38 Great Castle Street",W1W 8LG,TS0001,51.515534,-0.141352
1,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TM7329,ENG,214 Oxford Street,W1W 8LG,TS0001,51.515534,-0.141352
2,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TS0001,ENG,214 Oxford Street,W1W 8LG,TS0001,51.515534,-0.141352
3,LONDON (CITY),CHEAPSIDE,TS0873,ENG,Unit Msu1,EC2V 6AH,TS0873,51.514098,-0.094914
4,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE OUTFIT,OU0207,ENG,72-76,NE1 7DF,OU0207,54.975903,-1.612382
5,Z USA LOS ANGELES,LOS ANGELES,TM8104,US,189 The Grove Drive,90036,TS1271,34.067233,-118.352108
6,MANCHESTER (TRAFFORD C),TRAFFORD CENTRE,TS1012,ENG,130-134 Regent Crescent,M17 8AF,TS1012,53.462559,-2.346119
7,HAYES,HAYES LOMBARDY RET PARK OUTFIT,OU0201,ENG,Unit 3,UB3 3EX,OU0201,51.516683,-0.405498

In [17]:
#remove regions that location information was not available
df = df[(df['Latitude']!=0)| (df['Longitude']!=0)]
print(df.shape[0])
df

8

,TOWN,NAME,ID,COUNTRY,Address1,Postcode,Host,Latitude,Longitude
0,LONDON (OXFORD CIRCUS),LONDON OXFORD CIRCUS,MS0325,ENG,"Ground Floor, 36-38 Great Castle Street",W1W 8LG,TS0001,51.515534,-0.141352
1,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TM7329,ENG,214 Oxford Street,W1W 8LG,TS0001,51.515534,-0.141352
2,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TS0001,ENG,214 Oxford Street,W1W 8LG,TS0001,51.515534,-0.141352
3,LONDON (CITY),CHEAPSIDE,TS0873,ENG,Unit Msu1,EC2V 6AH,TS0873,51.514098,-0.094914
4,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE OUTFIT,OU0207,ENG,72-76,NE1 7DF,OU0207,54.975903,-1.612382
5,Z USA LOS ANGELES,LOS ANGELES,TM8104,US,189 The Grove Drive,90036,TS1271,34.067233,-118.352108
6,MANCHESTER (TRAFFORD C),TRAFFORD CENTRE,TS1012,ENG,130-134 Regent Crescent,M17 8AF,TS1012,53.462559,-2.346119
7,HAYES,HAYES LOMBARDY RET PARK OUTFIT,OU0201,ENG,Unit 3,UB3 3EX,OU0201,51.516683,-0.405498

In [18]:
CLIENT_ID = 'QKP4KVQQZPVXMOKNIXHGQAT1E2IJZCHQPFB4XJGP3MC0CFUO' # your Foursquare ID
CLIENT_SECRET = '1N5BIRBR1EA5CO1QFMNHU1241SOFM5KJLLQRJGMDC0NOYWPH' # your Foursquare Secret
VERSION = '20190501' # Foursquare API version
LIMIT = 400 # limit of number of venues returned by Foursquare API
radius = 2000 # define radius
categoryId = '4bf58dd8d48988d1f2941735'

In [114]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):    
    
    store_list = []
    lat_list = []
    lng_list = []
    
    for name, lat, lng in zip(names, latitudes, longitudes):
                    
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&categoryId={}'.format(    
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT,
            categoryId)
        
        #print(url) 
        
        # make the GET request
        results = requests.get(url).json()["response"]
        
        #flatten JSON file
        resultsVen = json_normalize(results['venues'])
        resultsCat = json_normalize(data=results['venues'], record_path=['categories'], record_prefix='cat_', errors='ignore')
        resultsVenCat = pd.concat([resultsVen, resultsCat], axis=1)
        resultsVenCat = resultsVenCat[['id','name','location.distance','location.formattedAddress','location.lat','location.lng','cat_name']]
        
        #Add region name 
        for i in range(0,resultsVen.shape[0]):
            store_list.append(name)
            lat_list.append(lat)
            lng_list.append(lng)

        store = pd.DataFrame([store_list,lat_list,lng_list]).T
        nearbyVenues = pd.concat([store, resultsVenCat], axis=1)

    return(nearbyVenues)

In [115]:
regions_venues = pd.DataFrame()

#request venue information for each region and store in regions_venues
for storeId in df['ID'].unique():
    store_info = df[df['ID']==storeId]
    regions_venues = regions_venues.append(getNearbyVenues(names=store_info['ID'],
                                                  latitudes=store_info['Latitude'],
                                                  longitudes=store_info['Longitude'],
                                                  radius=radius),ignore_index=True)
    
#rename columns
regions_venues.rename(columns={'id':'Venue ID',
                          'name':'Venue Name',
                          'location.distance':'Venue Distance',
                          'location.formattedAddress':'Venue Address',
                          'location.lat':'Venue Lat',
                          'location.lng':'Venue Lng',
                          'cat_name':'Venue Category'}, inplace=True)

print(regions_venues.shape[0])

246

In [116]:
regions_venues

,0,1,2,Venue ID,Venue Name,Venue Distance,Venue Address,Venue Lat,Venue Lng,Venue Category
0,MS0325,51.5155,-0.141352,4ac518f0f964a520afad20e3,NikeTown,33,"[236 Oxford St, London, Greater London, W1C 1D...",51.515488,-0.141824,Sporting Goods Shop
1,MS0325,51.5155,-0.141352,4ac518f1f964a520ecad20e3,JD Sports,127,"[197-203 Oxford Street, West End, Greater Lond...",51.515239,-0.139567,Sporting Goods Shop
2,MS0325,51.5155,-0.141352,5c7ea98b07190200259a8672,Lacoste,1291,"[6 James St, Covent Garden, London, Greater Lo...",51.512678,-0.123285,Clothing Store
3,MS0325,51.5155,-0.141352,51d86b1d498e44075e0a7840,Foot Locker,439,"[109 Oxford Street, London, Greater London, W1...",51.515890,-0.135038,Sporting Goods Shop
4,MS0325,51.5155,-0.141352,5ca5b84a9d7468003917baa1,Up & Running,2405,"[72-74 Fleet Street, London, Greater London, E...",51.514142,-0.106705,Sporting Goods Shop
5,MS0325,51.5155,-0.141352,5804fc2b38fa33f7c3387dae,New Balance,175,"[287 - 291 Oxford Street, London, Greater Lond...",51.515116,-0.143791,Sporting Goods Shop
6,MS0325,51.5155,-0.141352,4da064b3784f3704428698af,Sports Direct,246,"[150 Oxford St, London, Greater London, W1D 1N...",51.515899,-0.137837,Sporting Goods Shop
7,MS0325,51.5155,-0.141352,564e07e5498e190a55f52c35,Descente UK,238,"[Fouberts Place (Carmaby Street), London, Grea...",51.513720,-0.139531,Sporting Goods Shop
8,MS0325,51.5155,-0.141352,4c5ecca4d25320a1b698c97a,Runners Need,193,"[42-48 Great Portland St, London, Greater Lond...",51.517268,-0.141436,Sporting Goods Shop
9,MS0325,51.5155,-0.141352,5b9e565301bc5a002ca235fa,Foot Locker,1214,"[542-546 Oxford Street, London, Greater London...",51.513867,-0.158683,Sporting Goods Shop
10,MS0325,51.5155,-0.141352,5b167e9e646e38002c7588e2,Real Buzz,809,"[33 Regent Street St James's, St. James, Great...",51.509504,-0.134824,Sporting Goods Shop
11,MS0325,51.5155,-0.141352,4b71a7f6f964a5200d542de3,Sports World,819,[United Kingdom],51.516609,-0.129642,Sporting Goods Shop
12,MS0325,51.5155,-0.141352,506097d0183f16505d912474,adidas Originals Store,242,"[6 Newburgh St, London, Greater London, W1F 7R...",51.513581,-0.139814,Sporting Goods Shop
13,MS0325,51.5155,-0.141352,598707af9ec39952033caa77,Asics,91,"[249-251 Regent Street, London, Greater London...",51.514785,-0.141899,Sporting Goods Shop
14,MS0325,51.5155,-0.141352,5895ef8201f0776e38be9d23,JD Sports,579,"[385-389 Oxford St, Mayfair, Greater London, U...",51.514111,-0.149394,Sporting Goods Shop
15,MS0325,51.5155,-0.141352,4b648050f964a52095b82ae3,Run & Become,1980,"[4a Eccleston St, London, Greater London, SW1W...",51.498128,-0.135426,Sporting Goods Shop
16,MS0325,51.5155,-0.141352,4c3b41645810a5936355ba3c,The North Face,390,"[8 Carnaby St, Soho, Greater London, W1F 7EA, ...",51.512623,-0.138214,Clothing Store
17,MS0325,51.5155,-0.141352,4c63f64f69a1c9b658593ca4,New Era,298,"[40 Carnaby St, London, Greater London, W1F 7D...",51.513317,-0.138937,Sporting Goods Shop
18,MS0325,51.5155,-0.141352,59454950ad1ea46a23d1ab38,Mitchell & Ness,353,"[19 D'Arblay St, London, Greater London, W1F 8...",51.514394,-0.136593,Sporting Goods Shop
19,MS0325,51.5155,-0.141352,58612f29424f935d0b4695f8,Runners Need,780,[United Kingdom],51.509244,-0.136381,Sporting Goods Shop
20,MS0325,51.5155,-0.141352,4e236ecd1838712abe87b6fa,Bloch,1316,"[35 Drury Ln, Camden Town, Greater London, WC2...",51.514921,-0.122367,Sporting Goods Shop
21,MS0325,51.5155,-0.141352,4e2dac3ab61cd010838c74b3,Golf shop,244,"[London, Greater London, United Kingdom]",51.513339,-0.141130,Sporting Goods Shop
22,MS0325,51.5155,-0.141352,4b895770f964a520202d32e3,adidas,729,"[415-419 Oxford St, London, Greater London, W1...",51.513972,-0.151577,Sporting Goods Shop
23,MS0325,51.5155,-0.141352,5820abddfb482d7efa0dc480,lululemon athletica,332,"[187-191 Regent Street, London, Greater London...",51.512619,-0.140285,Sporting Goods Shop
24,MS0325,51.5155,-0.141352,4e84b9fc77c8ab00ba1dfcd5,Patagonia Covent Garden,1149,"[6A Langley Street (Long Acre), London, Greate...",51.513179,-0.125192,Sporting Goods Shop
25,MS0325,51.5155,-0.141352,4bb34660eb3e9521e8e3ca0a,Ocean Leisure Chandlery,1593,"[Northumberland Ave (Embankment), London, Grea...",51.506940,-0.122957,Sporting Goods Shop
26,MS0325,51.5155,-0.141352,4f747c98e4b0250b71551509,Beretta,889,[United Kingdom],51.507576,-0.140226,Sporting Goods Shop
27,MS0325,51.5155,-0.141352,4c46e604972c0f4784f82121,Sweaty Betty,440,"[1 Carnaby St, London, Greater London, W1F 9QF...",51.512109,-0.138166,Women's Store
28,MS0325,51.5155,-0.141352,4c9398f858d4b60cd6b12029,Victorinox,382,"[95-96 New Bond St, London, Greater London, W1...",51.514141,-0.146396,Sporting Goods Shop
29,MS0325,51.5155,-0.141352,4faa54c5e4b0dc75ba27ec53,Runners Need,1642,"[Lancaster Place, London, Greater London, Unit...",51.510854,-0.118872,Sporting Goods Shop
...,...,...,...,...,...,...,...,...,...,...
216,TM8104,34.0672,-118.352,5052a915e4b0359ed4833f8f,Solinco Office,768,"[Los Angeles, CA 90036, United States]",34.060944,-118.348671,Sporting Goods Shop
217,TM8104,34.0672,-118.352,514b9f0de4b0c0632af5b2f4,Running Outfitters,1423,"[Los Angeles, CA, United States]",34.078180,-118.344120,Sporting Goods Shop
218,TM8104,34.0672,-118.352,4b365869f964a520453325e3,Big 5 Sporting Goods,1820,"[6601 Wilshire Blvd (at San Vicente), Los Ange...",34.064638,-118.371599,Sporting Goods Shop
219,TM8104,34.0672,-118.352,4c2c4b7617a29c74c2b6e212,The Originators,1821,"[7600 Melrose Ave #H (at Curson), Los Angeles,...",34.083363,-118.355400,Clothing Store
220,TM8104,34.0672,-118.352,57eebd60498ee396223acc2e,Iverson pop up,999,"[Los Angeles, CA, United States]",34.072958,-118.343752,Sporting Goods Shop
221,TM8104,34.0672,-118.352,56773b76498ed3ede665fbc6,Smart Board,774,"[324 S LA Brea Ave, Los Angeles, CA 90036, Uni...",34.068350,-118.343820,Sporting Goods Shop
222,TM8104,34.0672,-118.352,51f459d9498e3d7f8a201ef3,Arch & Sole Running Outfitters,2056,"[Los Angeles, CA, United States]",34.084481,-118.344121,Sporting Goods Shop
223,TM8104,34.0672,-118.352,4a6a2fb5f964a520c9cc1fe3,Arch & Sole,2086,"[745 N LA Brea Ave (Waring), Los Angeles, CA 9...",34.084803,-118.344220,Sporting Goods Shop
224,TM8104,34.0672,-118.352,5675c1c6498e047002892e61,Just Don Pop-Up,1005,"[Los Angeles, CA, United States]",34.073206,-118.343928,Sporting Goods Shop
225,TS1012,53.4626,-2.34612,4edd380cbe7be2833b142d45,JD Sports,482,"[48 Regents Crescent, Unit L12, Trafford Centr...",53.466613,-2.348693,Sporting Goods Shop
226,TS1012,53.4626,-2.34612,4c755a4466be6dcb5929c00f,Sports Direct,182,"[Trafford Centre, Manchester, Greater Manchest...",53.464200,-2.346239,Sporting Goods Shop
227,TS1012,53.4626,-2.34612,4aed57c9f964a52084cd21e3,Chill Factor(e),1246,[Trafford Quays Leisure Village (Trafford Way)...,53.468656,-2.361894,Ski Area
228,TS1012,53.4626,-2.34612,4c6bf83e1fb2a143b618fae6,Foot Locker,448,"[Trafford Centre, Unit L80/L80A, 21 Regent Cre...",53.466173,-2.349098,Sporting Goods Shop
229,TS1012,53.4626,-2.34612,4c7e49bdb33a224bb163da81,Tricentral,1007,"[Trafford, M41 7TE, United Kingdom]",53.471610,-2.346437,Sporting Goods Shop
230,TS1012,53.4626,-2.34612,4ade0e41f964a520a46f21e3,Greg Nicholson Golf,1769,"[33 Flixton Road, Urmston, Trafford, M41 5AW, ...",53.446867,-2.350362,Sporting Goods Shop
231,TS1012,53.4626,-2.34612,4da06135bb206ea82bfed9fd,Scotts,438,"[Unit 15, The Trafford Centre, Trafford, M17 8...",53.466299,-2.348191,Men's Store
232,TS1012,53.4626,-2.34612,569523e7498eb71938768661,Sweaty Betty,442,"[1 The Dome,The Trafford Centre, Lancashire, M...",53.466361,-2.348070,Women's Store
233,TS1012,53.4626,-2.34612,56f04186498e283a8f6bd5c1,DEPOT CLIMBING,1708,"[Unit N1/N2 Mosley Road, Central Park Estate, ...",53.464192,-2.320479,Climbing Gym
234,TS1012,53.4626,-2.34612,4e5774dc62e126c9119ed397,Sports Direct,840,"[The Trafford Centre, Manchester, Greater Manc...",53.463662,-2.358666,Sporting Goods Shop
235,TS1012,53.4626,-2.34612,519bcbdc498ef9d9214450e6,American Golf,829,[United Kingdom],53.466011,-2.357206,Sporting Goods Shop
236,TS1012,53.4626,-2.34612,4dfcacb262e1a52ce9117076,Puma,491,"[Trafford Centre, Trafford, M4 1 0, United Kin...",53.466653,-2.348878,Sporting Goods Shop
237,TS1012,53.4626,-2.34612,4b5c6481f964a520c52d29e3,Snow+Rock,1282,"[Chill Factore (Trafford Way), Trafford, M41 7...",53.468865,-2.362318,Sporting Goods Shop
238,TS1012,53.4626,-2.34612,5c24eda465211f002c7000d5,Dare2B,1237,"[Manchester, Greater Manchester, M41 7JA, Unit...",53.468619,-2.361783,Sporting Goods Shop
239,TS1012,53.4626,-2.34612,5032501f80554bd28f5f1d43,SK Sports,992,"[Unit 8, Stretford Motorway Estate, (Barton Do...",53.462037,-2.331161,Sporting Goods Shop
240,TS1012,53.4626,-2.34612,4cd162219d87224b37755a3b,Adidas Originals,456,"[Trafford Centre, Manchester, M17 8AA, United ...",53.466387,-2.348607,Sporting Goods Shop
241,TS1012,53.4626,-2.34612,52c6bd14498e9a6ff3b14ca8,runnersneed,1198,[United Kingdom],53.468831,-2.360827,Sporting Goods Shop
242,TS1012,53.4626,-2.34612,56585c7c498e846ddd426950,Sweatshop,1268,"[Chill Factore Unit 3 (Trafford Way), Manchest...",53.468869,-2.362050,Sporting Goods Shop
243,OU0201,51.5167,-0.405498,52864beb11d2b469002d259b,Sports Direct,48,[United Kingdom],51.516690,-0.404791,Sporting Goods Shop
244,OU0201,51.5167,-0.405498,4beed5cb35dc0f474d5b405b,Sports Direct,54,"[26 Chequers Sq. (at Sports Soccer), Uxbridge,...",51.516774,-0.404724,Sporting Goods Shop
245,OU0201,51.5167,-0.405498,53d15722498ebc0f0897ae0c,JD Sports,83,"[Unit 5A Lombardy Retail Park,, Hayes, Greater...",51.517296,-0.404812,Sporting Goods Shop

In [12]:
jdsports = regions_venues[regions_venues['Venue Name']=='JD Sports']
jdsports.to_csv('jdsports_proximty.csv')
jdsports

,Store ID,Venue ID,Venue Name,Venue Distance,Venue Address,Venue Lat,Venue Lng,Venue Category
2,TS0001,4ac518f1f964a520ecad20e3,JD Sports,127,"[197-203 Oxford Street, West End, Greater Lond...",51.515239,-0.139567,Sporting Goods Shop
13,TS0001,5895ef8201f0776e38be9d23,JD Sports,579,"[385-389 Oxford St, Mayfair, Greater London, U...",51.514111,-0.149394,Sporting Goods Shop
58,TS0873,4ccc1f952dc4370440aac408,JD Sports,2331,"[55 Chapel Street Market, Islington, Greater L...",51.533512,-0.107551,Sporting Goods Shop
95,TS1012,4edd380cbe7be2833b142d45,JD Sports,482,"[48 Regents Crescent, Unit L12, Trafford Centr...",53.466613,-2.348693,Sporting Goods Shop

In [ ]:
#Which TM/TS stores do not have a JD Sports withing a 2km radius?
#Add map feature with TM/TS as centre point and surrounding JD Sports.