## GoogleMaps Data

### Popular times, wait times and visit duration
To help customers plan visits to your business, Google may show information including popular times, live visit information, waiting times and typical visit duration. This data appears below your regular business information on Google Maps and Search and can help customers plan their visit. 

#### About visit data
To determine popular times, waiting times and visit duration, Google uses aggregated and anonymised data from users who have opted in to Google Location History. Popular times, waiting times and visit duration are shown for your business if it gets enough visits from these users. You can’t manually add this information to your location, and it appears only if Google has sufficient visit data for your business. 

#### Visit data may include:
Popular times graph: Shows how busy your location typically is during different times of the day. Popular times are based on average popularity over the last several weeks. Popularity for any given hour is shown relative to the typical peak popularity for the business for the week. For example, in the image below, 6:00 p.m. – 7:00 p.m. on Thursday is one of the more popular times of the week for this business. 
Live visit data: Shows how active your location is right now. Live visit data is updated in real time and overlaid on the popular times graph. For example, in the image below, the highlighted section of the graph represents how active the location is right now compared to its usual level of activity.
Visit duration: Shows how much time customers typically spend at your location. Visit duration estimates are based on patterns of customer visits over the last several weeks.
Wait time estimates: Shows how long a customer would have to wait before receiving service during different times of the day, as well as the peak waiting time for each day of the week. The displayed waiting time is based on patterns of customer visits over the last several weeks. Waiting time estimation differs for different business types. For instance, a sit-down restaurant's waiting time reflects how long customers wait before being seated. Whereas, a grocery shop's waiting time reflects how long customers wait to check out their items.

https://support.google.com/business/answer/6263531?hl=en-GB

In [1]:
!pip install --upgrade git+https://github.com/m-wrzr/populartimes
!pip install pandas

Collecting git+https://github.com/m-wrzr/populartimes
  Cloning https://github.com/m-wrzr/populartimes to /tmp/pip-req-build-zliwvg0s
  Running command git clone -q https://github.com/m-wrzr/populartimes /tmp/pip-req-build-zliwvg0s
Requirement already satisfied, skipping upgrade: requests in /srv/conda/lib/python3.7/site-packages (from populartimes==2.0) (2.21.0)
Collecting geopy (from populartimes==2.0)
  Downloading https://files.pythonhosted.org/packages/75/3e/80bc987e1635ba9e7455b95e233b296c17f3d3bf3d4760fa67cdfc840e84/geopy-1.19.0-py2.py3-none-any.whl (100kB)
     |████████████████████████████████| 102kB 3.2MB/s ta 0:00:011
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /srv/conda/lib/python3.7/site-packages (from requests->populartimes==2.0) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /srv/conda/lib/python3.7/site-packages (from requests->populartimes==2.0) (2019.3.9)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /srv/conda/lib/python3.7/site-packages (from requests->populartimes==2.0) (2.8)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /srv/conda/lib/python3.7/site-packages (from requests->populartimes==2.0) (1.24.2)
Collecting geographiclib<2,>=1.49 (from geopy->populartimes==2.0)
  Downloading https://files.pythonhosted.org/packages/5b/ac/4f348828091490d77899bc74e92238e2b55c59392f21948f296e94e50e2b/geographiclib-1.49.tar.gz
Building wheels for collected packages: populartimes, geographiclib
  Building wheel for populartimes (setup.py) ... done
  Stored in directory: /tmp/pip-ephem-wheel-cache-oj3ckdb4/wheels/75/ae/aa/56b796466ed114d29102c9f74ec35c9a41b53c69ac5215d58a
  Building wheel for geographiclib (setup.py) ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/99/45/d1/14954797e2a976083182c2e7da9b4e924509e59b6e5c661061
Successfully built populartimes geographiclib
Installing collected packages: geographiclib, geopy, populartimes
Successfully installed geographiclib-1.49 geopy-1.19.0 populartimes-2.0
Collecting pandas
  Downloading https://files.pythonhosted.org/packages/22/e6/2d47835f91eb010036be207581fa113fb4e3822ec1b4bafb0d3d105fede6/pandas-0.24.2-cp37-cp37m-manylinux1_x86_64.whl (10.1MB)
     |████████████████████████████████| 10.1MB 3.3MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.7/site-packages (from pandas) (2.8.0)
Collecting numpy>=1.12.0 (from pandas)
  Downloading https://files.pythonhosted.org/packages/bb/76/24e9f32c78e6f6fb26cf2596b428f393bf015b63459468119f282f70a7fd/numpy-1.16.3-cp37-cp37m-manylinux1_x86_64.whl (17.3MB)
     |████████████████████████████████| 17.3MB 21.2MB/s eta 0:00:01
Collecting pytz>=2011k (from pandas)
  Downloading https://files.pythonhosted.org/packages/3d/73/fe30c2daaaa0713420d0382b16fbb761409f532c56bdcc514bf7b6262bb6/pytz-2019.1-py2.py3-none-any.whl (510kB)
     |████████████████████████████████| 512kB 34.6MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.16.3 pandas-0.24.2 pytz-2019.1

In [2]:
import numpy as np
import pandas as pd
import requests # library to handle requests
import json # library to handle JSON files
import populartimes # https://github.com/m-wrzr/populartimes
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

In [4]:
#location='' #51.515685,-0.1416378
#radius=''
#types='clothing_store'
#name='topshop, WC2N 5LR'
#g_input='topshop%20WC2N5LR'
store_locations=['topshop%20W1W8LG','topshop%20W127GE']
#fields='formatted_address,geometry,id,name,permanently_closed,place_id,types'
fields='formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total'
key='AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU'

In [5]:
#https://developers.google.com/maps/documentation/javascript/examples/places-placeid-finder
TS_OS = populartimes.get_id(key,'ChIJAxqaTdUadkgRFkNFlD7KaJw')

In [6]:
TS_OS

{'id': 'ChIJAxqaTdUadkgRFkNFlD7KaJw',
 'name': 'Topshop Oxford Street',
 'address': '214 Oxford St, Marylebone, London W1C 1DA, UK',
 'types': ['clothing_store', 'store', 'point_of_interest', 'establishment'],
 'coordinates': {'lat': 51.51568529999999, 'lng': -0.1416379},
 'rating': 4.1,
 'rating_n': 3160,
 'international_phone_number': '+44 844 848 7487',
 'current_popularity': 66,
 'populartimes': [{'name': 'Monday',
   'data': [0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    5,
    9,
    15,
    23,
    29,
    32,
    32,
    35,
    40,
    42,
    32,
    17,
    0,
    0,
    0]},
  {'name': 'Tuesday',
   'data': [0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    6,
    10,
    16,
    21,
    24,
    25,
    25,
    31,
    42,
    46,
    35,
    18,
    0,
    0,
    0]},
  {'name': 'Wednesday',
   'data': [0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    6,
    10,
    15,
    21,
    26,
    28,
    29,
    32,
    40,
    48,
    41,
    23,
    8,
    0,
    0]},
  {'name': 'Thursday',
   'data': [0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    7,
    12,
    17,
    23,
    28,
    30,
    31,
    33,
    41,
    50,
    42,
    22,
    7,
    0,
    0]},
  {'name': 'Friday',
   'data': [0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    4,
    9,
    18,
    27,
    34,
    36,
    36,
    39,
    51,
    60,
    50,
    28,
    10,
    0,
    0]},
  {'name': 'Saturday',
   'data': [0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    4,
    11,
    26,
    47,
    63,
    71,
    76,
    88,
    100,
    88,
    54,
    23,
    0,
    0,
    0]},
  {'name': 'Sunday',
   'data': [0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    13,
    29,
    40,
    40,
    45,
    58,
    46,
    0,
    0,
    0,
    0,
    0,
    0]}],
 'time_spent': [25, 60]}

In [7]:
results = json_normalize(TS_OS)
results

,address,coordinates.lat,coordinates.lng,current_popularity,id,international_phone_number,name,populartimes,rating,rating_n,time_spent,types
0,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,66,ChIJAxqaTdUadkgRFkNFlD7KaJw,+44 844 848 7487,Topshop Oxford Street,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.1,3160,"[25, 60]","[clothing_store, store, point_of_interest, est..."

In [36]:
headers=['id','address','current_popularity','international_phone_number','name','ratings','time_spent']
results1 = json_normalize(TS_OS, record_path=['populartimes'], record_prefix='ptime_', errors='ignore', meta=['id'])
#results1 = results1.style.set_properties(subset=['ptime_data'], **{'width': '500px'})
results1

,ptime_data,ptime_name,id
0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 9, 15, 23, 29, ...",Monday,ChIJAxqaTdUadkgRFkNFlD7KaJw
1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 10, 16, 21, 24,...",Tuesday,ChIJAxqaTdUadkgRFkNFlD7KaJw
2,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 10, 15, 21, 26,...",Wednesday,ChIJAxqaTdUadkgRFkNFlD7KaJw
3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 12, 17, 23, 28,...",Thursday,ChIJAxqaTdUadkgRFkNFlD7KaJw
4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 9, 18, 27, 34, ...",Friday,ChIJAxqaTdUadkgRFkNFlD7KaJw
5,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 11, 26, 47, 63,...",Saturday,ChIJAxqaTdUadkgRFkNFlD7KaJw
6,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 13, 29, 40, ...",Sunday,ChIJAxqaTdUadkgRFkNFlD7KaJw

In [39]:
results1
results1.pivot(index='id', columns='ptime_name', values='ptime_data')

TypeError: pivot() got an unexpected keyword argument 'rows'

In [9]:
listtest=[]
for i in range(24):
    listtest.append("h"+str(i))

In [11]:
len(listtest)

24

In [28]:
df1 = pd.DataFrame()
results1[listtest]= pd.DataFrame(results1.ptime_data.values.tolist(), index= results1.index)
df1[listtest]= pd.DataFrame(results1.ptime_data.values.tolist(), index= results1.index)

In [21]:
pd.options.display.max_columns = 30

In [34]:
#df1.transpose()
df1

,h0,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23
0,0,0,0,0,0,0,0,0,0,5,9,15,23,29,32,32,35,40,42,32,17,0,0,0
1,0,0,0,0,0,0,0,0,0,6,10,16,21,24,25,25,31,42,46,35,18,0,0,0
2,0,0,0,0,0,0,0,0,0,6,10,15,21,26,28,29,32,40,48,41,23,8,0,0
3,0,0,0,0,0,0,0,0,0,7,12,17,23,28,30,31,33,41,50,42,22,7,0,0
4,0,0,0,0,0,0,0,0,0,4,9,18,27,34,36,36,39,51,60,50,28,10,0,0
5,0,0,0,0,0,0,0,0,0,4,11,26,47,63,71,76,88,100,88,54,23,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,13,29,40,40,45,58,46,0,0,0,0,0,0

In [33]:
results2 = results1.transpose()
results2

,0,1,2,3,4,5,6
ptime_data,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 9, 15, 23, 29, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 10, 16, 21, 24,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 10, 15, 21, 26,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 12, 17, 23, 28,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 9, 18, 27, 34, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 11, 26, 47, 63,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 13, 29, 40, ..."
ptime_name,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
id,ChIJAxqaTdUadkgRFkNFlD7KaJw,ChIJAxqaTdUadkgRFkNFlD7KaJw,ChIJAxqaTdUadkgRFkNFlD7KaJw,ChIJAxqaTdUadkgRFkNFlD7KaJw,ChIJAxqaTdUadkgRFkNFlD7KaJw,ChIJAxqaTdUadkgRFkNFlD7KaJw,ChIJAxqaTdUadkgRFkNFlD7KaJw
h0,0,0,0,0,0,0,0
h1,0,0,0,0,0,0,0
h2,0,0,0,0,0,0,0
h3,0,0,0,0,0,0,0
h4,0,0,0,0,0,0,0
h5,0,0,0,0,0,0,0
h6,0,0,0,0,0,0,0
h7,0,0,0,0,0,0,0
h8,0,0,0,0,0,0,0
h9,5,6,6,7,4,4,0
h10,9,10,10,12,9,11,0
h11,15,16,15,17,18,26,13
h12,23,21,21,23,27,47,29
h13,29,24,26,28,34,63,40
h14,32,25,28,30,36,71,40
h15,32,25,29,31,36,76,45
h16,35,31,32,33,39,88,58
h17,40,42,40,41,51,100,46
h18,42,46,48,50,60,88,0
h19,32,35,41,42,50,54,0
h20,17,18,23,22,28,23,0
h21,0,0,8,7,10,0,0
h22,0,0,0,0,0,0,0
h23,0,0,0,0,0,0,0

In [10]:
#populartimes.get('AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU',['clothing_store'],(51.51568529999999,-0.1416379),(51.5156853,-0.1416379), radius=100)

### Field List Pricing
*Basic fields are billed at base rate, and incur no additional charges. Contact and Atmosphere fields are billed at a higher rate.*

##### Basic
The Basic category includes the following fields:
formatted_address, geometry, icon, id, name, permanently_closed, photos, place_id, plus_code, scope, types, user_ratings_total

#### Contact
The Contact category includes the following field: opening_hours (Place Search returns only open_now; use a Place Details request to get the full opening_hours results).

#### Atmosphere
The Atmosphere category includes the following fields: price_level, rating

In [18]:
google_json = pd.DataFrame()

for store in store_locations:
    url="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&key={}&fields={}".format(store, key, fields)
    print(url)
    temp = requests.get(url).json()
    google_json = google_json.append(json_normalize(temp['candidates']))
    

#https://developers.google.com/places/web-service/search
#https://developers.google.com/places/web-service/search#PlaceSearchResults

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=topshop%20W1W8LG&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=topshop%20W127GE&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total

In [19]:
google_json

,formatted_address,geometry.location.lat,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,icon,id,name,photos,place_id,plus_code.compound_code,plus_code.global_code,types,user_ratings_total
0,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,51.516896,-0.140101,51.514196,-0.142800,https://maps.gstatic.com/mapfiles/place_api/ic...,8ec1e94b6fb432e119dc1dd587f0099a6e1659ce,Topshop Oxford Street,"[{'height': 2988, 'html_attributions': ['<a hr...",ChIJAxqaTdUadkgRFkNFlD7KaJw,"GV85+78 Marylebone, London, UK",9C3XGV85+78,"[clothing_store, store, point_of_interest, est...",3157
0,"Westfield London, 2039-2041 Ariel Way, Shepher...",51.506853,-0.221237,51.508203,-0.219887,51.505503,-0.222586,https://maps.gstatic.com/mapfiles/place_api/ic...,2900885c83ac373c3671fc3e6f0be1b1effb669c,Topshop,"[{'height': 1536, 'html_attributions': ['<a hr...",ChIJ5_s8rdAPdkgRnW0ux0f40SI,"GQ4H+PG White City, London, UK",9C3XGQ4H+PG,"[clothing_store, store, point_of_interest, est...",244

In [12]:
for x in google_json['place_id']
    populartimes.get_id(key,x)

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=topshop%20WC2N5LR&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,id,name,permanently_closed,place_id,types

In [13]:
results = requests.get(url).json()

{'candidates': [{'formatted_address': '60/64 Strand, London WC2N 5LR, UK',
   'geometry': {'location': {'lat': 51.5095632, 'lng': -0.1232618},
    'viewport': {'northeast': {'lat': 51.51094277989272,
      'lng': -0.1219496701072778},
     'southwest': {'lat': 51.50824312010727, 'lng': -0.1246493298927222}}},
   'id': '650685f1557556c7e31ea60e2cdb984740a67920',
   'name': 'Topshop',
   'place_id': 'ChIJXYyhVckEdkgRm1Kr-CNa_I8',
   'types': ['clothing_store',
    'store',
    'point_of_interest',
    'establishment']}],
 'status': 'OK'}

In [16]:
results1 = json_normalize(results['candidates'])
results1

,formatted_address,geometry.location.lat,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,id,name,place_id,types
0,"60/64 Strand, London WC2N 5LR, UK",51.509563,-0.123262,51.510943,-0.12195,51.508243,-0.124649,650685f1557556c7e31ea60e2cdb984740a67920,Topshop,ChIJXYyhVckEdkgRm1Kr-CNa_I8,"[clothing_store, store, point_of_interest, est..."

In [14]:

location='51.51568529999999,-0.1416379'
radius='50'
types='clothing_store'
name='harbour'
key='AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU'

url="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={}&radius={}&types={}&name={}&key={}".format(location, radius, types, name, key )
print(url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=51.51568529999999,-0.1416379&radius=50&types=clothing_store&name=harbour&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU