Google maps data info
https://support.google.com/business/answer/6263531?hl=en-GB

In [1]:
!pip install --upgrade git+https://github.com/m-wrzr/populartimes
!pip install pandas

Collecting git+https://github.com/m-wrzr/populartimes
  Cloning https://github.com/m-wrzr/populartimes to c:\users\james\appdata\local\temp\pip-req-build-kykrdfaw
Requirement already satisfied, skipping upgrade: requests in c:\users\james\anaconda3\lib\site-packages (from populartimes==2.0) (2.21.0)
Requirement already satisfied, skipping upgrade: geopy in c:\users\james\anaconda3\lib\site-packages (from populartimes==2.0) (1.19.0)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (1.24.1)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (2019.3.9)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (2.8)
Requirement already satisfied, skipping upgrade: geographiclib<2,>=1.49 in c:\users\james\anaconda3\lib\site-packages (from geopy->populartimes==2.0) (1.49)
Building wheels for collected packages: populartimes
  Building wheel for populartimes (setup.py): started
  Building wheel for populartimes (setup.py): finished with status 'done'
  Stored in directory: C:\Users\james\AppData\Local\Temp\pip-ephem-wheel-cache-vdlimwi_\wheels\75\ae\aa\56b796466ed114d29102c9f74ec35c9a41b53c69ac5215d58a
Successfully built populartimes
Installing collected packages: populartimes
  Found existing installation: populartimes 2.0
    Uninstalling populartimes-2.0:
      Successfully uninstalled populartimes-2.0
Successfully installed populartimes-2.0
Requirement already satisfied: pandas in c:\users\james\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: pytz>=2011k in c:\users\james\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\james\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
import numpy as np
import pandas as pd
import requests # library to handle requests
import json # library to handle JSON files
import populartimes # https://github.com/m-wrzr/populartimes
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
from datetime import datetime
import calendar

In [36]:
#import store location data
df_storelocations = pd.read_csv("https://raw.githubusercontent.com/ninjananjo/Clothing-Store-Competition/master/StoreLocations.csv")
#remove unwanted fields
df_storelocations = df_storelocations[['TOWN','NAME','ID','COUNTRY','Address1','Postcode','Host']]

In [37]:
def getBrand(branch_id):
    if branch_id.startswith("TS"):
            return("Topshop")
    elif branch_id.startswith("TM"):
            return("Topman")
    elif branch_id.startswith("OU"):
            return("Outfit")
    elif branch_id.startswith("MS"):
            return("Miss Selfridge")
    else:
            return("Unknown")

In [47]:
#Add brand column
brands = []
for branch_id in df_storelocations['ID']:
    brands.append(getBrand(branch_id))
            
df_storelocations.loc[:,'Brand'] = brands

#Exclude unrecognised brands
print(sum(df_storelocations['Brand'] == "Unknown"), "unrecognised brands to be exluded")
df_storelocations = df_storelocations[df_storelocations['Brand'] != "Unknown"]

#Add new column with googlemaps search text
df_storelocations['findplacefromtext']= df_storelocations['Brand'].str.replace(" ","%20")\
                                      + ",%20" + df_storelocations['Postcode'].str.replace(" ","%20")\
                                      + ",%20" + df_storelocations['COUNTRY'].str.replace(" ","%20")
#+ ",%20" + df_storelocations['Address1'].str.replace(" ","%20")\    
    
df_storelocations.head(10)

0 unrecognised brands to be exluded

,TOWN,NAME,ID,COUNTRY,Address1,Postcode,Host,Brand,findplacefromtext
0,LONDON (OXFORD CIRCUS),LONDON OXFORD CIRCUS,MS0325,ENG,"Ground Floor, 36-38 Great Castle Street",W1W 8LG,TS0001,Miss Selfridge,"Miss%20Selfridge,%20W1W%208LG,%20ENG"
1,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TM7329,ENG,214 Oxford Street,W1W 8LG,TS0001,Topman,"Topman,%20W1W%208LG,%20ENG"
2,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TS0001,ENG,214 Oxford Street,W1W 8LG,TS0001,Topshop,"Topshop,%20W1W%208LG,%20ENG"
3,LONDON (CITY),CHEAPSIDE,TS0873,ENG,Unit Msu1,EC2V 6AH,TS0873,Topshop,"Topshop,%20EC2V%206AH,%20ENG"
4,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE OUTFIT,OU0207,ENG,72-76,NE1 7DF,OU0207,Outfit,"Outfit,%20NE1%207DF,%20ENG"
5,Z USA LOS ANGELES,LOS ANGELES,TM8104,US,189 The Grove Drive,90036,TS1271,Topman,"Topman,%2090036,%20US"
6,MANCHESTER (TRAFFORD C),TRAFFORD CENTRE,TS1012,ENG,130-134 Regent Crescent,M17 8AF,TS1012,Topshop,"Topshop,%20M17%208AF,%20ENG"
7,HAYES,HAYES LOMBARDY RET PARK OUTFIT,OU0201,ENG,Unit 3,UB3 3EX,OU0201,Outfit,"Outfit,%20UB3%203EX,%20ENG"

In [48]:
#GoogleMaps API Credentials

#for field definition go to https://developers.google.com/places/web-service/search#PlaceSearchResults
#Basic: formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
#Contact: opening_hours, open_now,
#Atmospheric: price_level, rating
fields='formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total'
key='AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU'

In [51]:
google_json = pd.DataFrame()

for store in df_storelocations['findplacefromtext']:
    #For request parameters go to https://developers.google.com/places/web-service/search
    url="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&key={}&fields={}".format(store, key, fields)
    #print(url)
    temp = requests.get(url).json() #Google Places API request   
    google_json = google_json.append(json_normalize(temp['candidates'][0])) #takes top response only
    
google_json.reset_index(drop=True, inplace=True)
google_json.head(10)

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Miss%20Selfridge,%20W1W%208LG,%20ENG&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topman,%20W1W%208LG,%20ENG&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topshop,%20W1W%208LG,%20ENG&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topshop,%20EC2V%206AH,%20ENG&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Outfit,%20NE1%207DF,%20ENG&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topman,%2090036,%20US&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topshop,%20M17%208AF,%20ENG&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Outfit,%20UB3%203EX,%20ENG&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total

,formatted_address,geometry.location.lat,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,icon,id,name,photos,place_id,plus_code.compound_code,plus_code.global_code,types,user_ratings_total
0,"Ground Floor, 36-38 Great Castle St, Marylebon...",51.515649,-0.140957,51.517009,-0.139521,51.514310,-0.142221,https://maps.gstatic.com/mapfiles/place_api/ic...,fe84e2b85a7f4fefa6881a409b461f41bae4ac9a,Miss Selfridge,"[{'height': 3120, 'html_attributions': ['<a hr...",ChIJZZmpzywFdkgRu2BBVDT3Dmc,"GV85+7J London, United Kingdom",9C3XGV85+7J,"[clothing_store, store, point_of_interest, est...",42
1,"214 Oxford St, London W1C 1DA, UK",51.515514,-0.141265,51.517066,-0.139725,51.514366,-0.142424,https://maps.gstatic.com/mapfiles/place_api/ic...,6fce3dfa9f931c3148f3a9a8519689d7da288e36,Topman,"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJwcDt38wEdkgRVG87ERhnAZU,"GV85+6F London, United Kingdom",9C3XGV85+6F,"[clothing_store, store, point_of_interest, est...",310
2,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,51.516896,-0.140101,51.514196,-0.142800,https://maps.gstatic.com/mapfiles/place_api/ic...,8ec1e94b6fb432e119dc1dd587f0099a6e1659ce,Topshop,"[{'height': 2988, 'html_attributions': ['<a hr...",ChIJAxqaTdUadkgRFkNFlD7KaJw,"GV85+78 Marylebone, London, UK",9C3XGV85+78,"[clothing_store, store, point_of_interest, est...",3183
3,"MSU1, 1 New Change, London EC2V 6AH, UK",51.514293,-0.096334,51.515747,-0.094966,51.513048,-0.097666,https://maps.gstatic.com/mapfiles/place_api/ic...,71046c1894829da858450a723782128507c4bb90,Topshop,"[{'height': 4160, 'html_attributions': ['<a hr...",ChIJ41b8t6oEdkgRioXfCB0a1M8,"GW73+PF City of London, London, UK",9C3XGW73+PF,"[clothing_store, store, point_of_interest, est...",152
4,"72-74 Northumberland St, Newcastle upon Tyne N...",54.976135,-1.612228,54.977446,-1.610532,54.974746,-1.613232,https://maps.gstatic.com/mapfiles/place_api/ic...,682223f3698cd34d02f7f5772683808a62874f51,OUTFIT,"[{'height': 4160, 'html_attributions': ['<a hr...",ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4,"X9GQ+F4 Newcastle upon Tyne, UK",9C6WX9GQ+F4,"[clothing_store, shoe_store, store, point_of_i...",17
5,"189 The Grove Dr, Los Angeles, CA 90036, USA",34.072011,-118.359099,34.073361,-118.357749,34.070661,-118.360449,https://maps.gstatic.com/mapfiles/place_api/ic...,16cecc7ca88ec6a736997d2d6d8c09fd0335da83,Topshop Topman,"[{'height': 3264, 'html_attributions': ['<a hr...",ChIJWYAZNzC5woARqe_Pu_5D7jw,"3JCR+R9 Los Angeles, California, USA",85633JCR+R9,"[clothing_store, store, point_of_interest, est...",257
6,"The Trafford Centre, 130-134 Regent Cres, Manc...",53.466571,-2.349546,53.467921,-2.348196,53.465221,-2.350896,https://maps.gstatic.com/mapfiles/place_api/ic...,7ee0d26bb694f80f37e77eab362e165f45158c6d,Topshop,"[{'height': 2080, 'html_attributions': ['<a hr...",ChIJvUYBYLuue0gRKwHtN1aAiN4,"FM82+J5 Stretford, Manchester, UK",9C5VFM82+J5,"[clothing_store, store, point_of_interest, est...",397
7,"Lombardy Retail Park, 3, Hayes UB3 3EX, United...",51.516437,-0.405550,51.517766,-0.403966,51.515067,-0.406665,https://maps.gstatic.com/mapfiles/place_api/ic...,d41cf0135b06d34aa2cd9dc8981a2c1af1e1a6c6,OUTFIT,"[{'height': 764, 'html_attributions': ['<a hre...",ChIJP-ovg2FtdkgRL9DPnlO2wOk,"GH8V+HQ Hayes, United Kingdom",9C3XGH8V+HQ,"[clothing_store, shoe_store, store, point_of_i...",28

In [52]:
#df_populartimes = populartimes.get_id(key,'ChIJAxqaTdUadkgRFkNFlD7KaJw')

df_populartimes = pd.DataFrame()

for place_id in google_json.loc[:,'place_id']:
    populartimes_json = populartimes.get_id(key,place_id)
    df_populartimes = df_populartimes.append(json_normalize(populartimes_json), sort=True)

df_populartimes.reset_index(drop=True, inplace=True)
df_populartimes.head(10)

,address,coordinates.lat,coordinates.lng,current_popularity,id,international_phone_number,name,populartimes,rating,rating_n,time_spent,types
0,"Ground Floor, 36-38 Great Castle St, Marylebon...",51.515649,-0.140957,NaN,ChIJZZmpzywFdkgRu2BBVDT3Dmc,+44 20 7927 0158,Miss Selfridge,NaN,4.1,42,NaN,"[clothing_store, store, point_of_interest, est..."
1,"214 Oxford St, London W1C 1DA, UK",51.515514,-0.141265,NaN,ChIJwcDt38wEdkgRVG87ERhnAZU,NaN,Topman,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.3,310,"[25, 60]","[clothing_store, store, point_of_interest, est..."
2,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,38.0,ChIJAxqaTdUadkgRFkNFlD7KaJw,+44 20 7927 0214,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.0,3183,"[25, 60]","[clothing_store, store, point_of_interest, est..."
3,"MSU1, 1 New Change, London EC2V 6AH, UK",51.514293,-0.096334,NaN,ChIJ41b8t6oEdkgRioXfCB0a1M8,+44 20 7248 0180,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.9,152,"[15, 15]","[clothing_store, store, point_of_interest, est..."
4,"72-74 Northumberland St, Newcastle upon Tyne N...",54.976135,-1.612228,NaN,ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4,+44 191 230 0874,OUTFIT,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.1,17,"[10, 10]","[clothing_store, shoe_store, store, point_of_i..."
5,"189 The Grove Dr, Los Angeles, CA 90036, USA",34.072011,-118.359099,NaN,ChIJWYAZNzC5woARqe_Pu_5D7jw,+1 323-938-1085,Topshop Topman,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.0,257,"[15, 15]","[clothing_store, store, point_of_interest, est..."
6,"The Trafford Centre, 130-134 Regent Cres, Stre...",53.466571,-2.349546,33.0,ChIJvUYBYLuue0gRKwHtN1aAiN4,+44 161 746 8703,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.9,397,"[10, 10]","[clothing_store, store, point_of_interest, est..."
7,"3, Lombardy Retail Park, Hayes UB3 3EX, UK",51.516437,-0.405550,NaN,ChIJP-ovg2FtdkgRL9DPnlO2wOk,+44 20 8573 6980,OUTFIT,NaN,3.4,28,NaN,"[clothing_store, shoe_store, store, point_of_i..."

In [12]:
def getNormalPopularity(placeId, day, hour):
    dayname = calendar.day_name[day]
    temp1 = df_populartimes[df_populartimes['id']==placeId]
    temp2 = json_normalize(temp1['populartimes'][temp1.index.values[0]])
    temp3 = temp2[temp2['name']==dayname]
    temp4 = temp3['data'].values
    normalPopularity = temp4[0][hour]
    print(placeId, dayname, hour, temp3)
    return(normalPopularity)

In [13]:
timezone = 1 #set 1 for BST and 0 for GMT
normal_popularity = []
for id in df_populartimes['id']:
    normal_popularity.append(getNormalPopularity(id, datetime.today().weekday(), datetime.today().hour + timezone))
    
normal_popularity

ChIJwcDt38wEdkgRVG87ERhnAZU Friday 11                                                 data    name
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 10, 16, 24, 30,...  Friday
ChIJAxqaTdUadkgRFkNFlD7KaJw Friday 11                                                 data    name
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 12, 20, 28, 35,...  Friday
ChIJ41b8t6oEdkgRioXfCB0a1M8 Friday 11                                                 data    name
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 14, 36, 61, 71,...  Friday
ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4 Friday 11                                                 data    name
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 17, 32, 50, 60, 58...  Friday
ChIJWYAZNzC5woARqe_Pu_5D7jw Friday 11                                                 data    name
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 16, 25, 33, 40,...  Friday
ChIJvUYBYLuue0gRKwHtN1aAiN4 Friday 11                                                 data    name
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 33, 48, 42,...  Friday

TypeError: 'float' object is not iterable

In [16]:

df_currentpopularity = df_populartimes.loc[:,['id','name','address','current_popularity']]
df_currentpopularity.loc[:,'current_datetime_gmt'] = datetime.strftime(datetime.today(), "%Y-%m-%d %H:%M:%S")
#df_currentpopularity.loc[:,'weekday'] = datetime.today().weekday()
#df_currentpopularity.loc[:,'hour'] = datetime.today().hour + timezone
df_currentpopularity.loc[:,'normal_popularity'] = normal_popularity
df_currentpopularity.loc[:,'popularity_variance'] = df_currentpopularity['current_popularity']-df_currentpopularity['normal_popularity']
df_currentpopularity.rename(columns={'id':'place_id'}, inplace=True)
df_currentpopularity

,place_id,name,address,current_popularity,current_datetime_gmt,normal_popularity,popularity_variance
0,ChIJwcDt38wEdkgRVG87ERhnAZU,Topman,"214 Oxford St, London W1C 1DA, UK",NaN,2019-05-02 16:41:44,38,NaN
1,ChIJAxqaTdUadkgRFkNFlD7KaJw,Topshop,"214 Oxford St, Marylebone, London W1C 1DA, UK",61.0,2019-05-02 16:41:44,50,11.0
2,ChIJ41b8t6oEdkgRioXfCB0a1M8,Topshop,"MSU1, 1 New Change, London EC2V 6AH, UK",NaN,2019-05-02 16:41:44,66,NaN
3,ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4,OUTFIT,"72-74 Northumberland St, Newcastle upon Tyne N...",NaN,2019-05-02 16:41:44,22,NaN
4,ChIJWYAZNzC5woARqe_Pu_5D7jw,Topshop Topman,"189 The Grove Dr, Los Angeles, CA 90036, USA",NaN,2019-05-02 16:41:44,34,NaN
5,ChIJvUYBYLuue0gRKwHtN1aAiN4,Topshop,"The Trafford Centre, 130-134 Regent Cres, Stre...",34.0,2019-05-02 16:41:44,27,7.0

In [110]:
test1 = json_normalize(TS_OS['populartimes'][0])
test1 = test1.style.set_properties(subset=['data'], **{'width': '500px'})
test1

In [10]:
#populartimes.get('AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU',['clothing_store'],(51.51568529999999,-0.1416379),(51.5156853,-0.1416379), radius=100)