Google maps data info
https://support.google.com/business/answer/6263531?hl=en-GB

In [1]:
!pip install --upgrade git+https://github.com/m-wrzr/populartimes
!pip install pandas

Collecting git+https://github.com/m-wrzr/populartimes
  Cloning https://github.com/m-wrzr/populartimes to /tmp/pip-req-build-5ih4wp4n
  Running command git clone -q https://github.com/m-wrzr/populartimes /tmp/pip-req-build-5ih4wp4n
Requirement already satisfied, skipping upgrade: requests in /srv/conda/envs/notebook/lib/python3.7/site-packages (from populartimes==2.0) (2.21.0)
Requirement already satisfied, skipping upgrade: geopy in /srv/conda/envs/notebook/lib/python3.7/site-packages (from populartimes==2.0) (1.19.0)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->populartimes==2.0) (2019.3.9)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->populartimes==2.0) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->populartimes==2.0) (2.8)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->populartimes==2.0) (1.24.2)
Requirement already satisfied, skipping upgrade: geographiclib<2,>=1.49 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from geopy->populartimes==2.0) (1.49)
Building wheels for collected packages: populartimes
  Building wheel for populartimes (setup.py) ... done
  Stored in directory: /tmp/pip-ephem-wheel-cache-fl18le0j/wheels/75/ae/aa/56b796466ed114d29102c9f74ec35c9a41b53c69ac5215d58a
Successfully built populartimes
Installing collected packages: populartimes
  Found existing installation: populartimes 2.0
    Uninstalling populartimes-2.0:
      Successfully uninstalled populartimes-2.0
Successfully installed populartimes-2.0
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.1)
Requirement already satisfied: numpy>=1.12.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.16.3)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
import numpy as np
import pandas as pd
import requests # library to handle requests
import json # library to handle JSON files
import populartimes # https://github.com/m-wrzr/populartimes
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
from datetime import datetime
import calendar

In [3]:
#import store location data
df_storelocations = pd.read_csv("https://raw.githubusercontent.com/ninjananjo/Clothing-Store-Competition/master/StoreLocations.csv")
df_storelocations = df_storelocations[['TOWN','NAME','ID','COUNTRY','Address1','Postcode','Host']]
df_storelocations = df_storelocations[df_storelocations['ID'].str.startswith("TS")]

In [4]:
df_storelocations['findplacefromtext']="Topshop%20" + df_storelocations['Postcode'].str.replace(" ","")
df_storelocations

,TOWN,NAME,ID,COUNTRY,Address1,Postcode,Host,findplacefromtext
10,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TS0001,ENG,214 Oxford Street,W1W 8LG,TS0001,Topshop%20W1W8LG
11,LONDON (STRAND),STRAND,TS0032,ENG,60/64 The Strand,WC2N 5LR,TS0032,Topshop%20WC2N5LR
12,LONDON (CITY),CHEAPSIDE,TS0873,ENG,Unit Msu1,EC2V 6AH,TS0873,Topshop%20EC2V6AH
13,LONDON (WHITE CITY),WHITE CITY,TS0874,ENG,2039-2041,W12 7GE,TS0874,Topshop%20W127GE
14,LONDON (KNIGHTSBRIDGE),KNIGHTSBRIDGE,TS1054,ENG,70 Brompton Road,SW3 1ER,TS1054,Topshop%20SW31ER
15,LONDON (MARBLE ARCH),MARBLE ARCH,TS1319,ENG,536-540 Oxford Street,W1C 1LS,TS1319,Topshop%20W1C1LS

In [5]:
#GoogleMaps API Credentials

#location='' #51.515685,-0.1416378
#radius=''
#types='clothing_store'
#name='topshop, WC2N 5LR'
#g_input='topshop%20WC2N5LR'
#store_locations=['topshop%20W1W8LG','topshop%20W127GE']
#fields='formatted_address,geometry,id,name,permanently_closed,place_id,types'
fields='formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total'
key='AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU'

In [6]:
google_json = pd.DataFrame()

for store in df_storelocations['findplacefromtext']:
    url="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&key={}&fields={}".format(store, key, fields)
    #print(url)
    temp = requests.get(url).json()
    google_json = google_json.append(json_normalize(temp['candidates']))
    

#https://developers.google.com/places/web-service/search
#https://developers.google.com/places/web-service/search#PlaceSearchResults

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topshop%20W1W8LG&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topshop%20WC2N5LR&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topshop%20EC2V6AH&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topshop%20W127GE&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topshop%20SW31ER&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Topshop%20W1C1LS&inputtype=textquery&key=AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU&fields=formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total

In [7]:
google_json

,formatted_address,geometry.location.lat,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,icon,id,name,photos,place_id,plus_code.compound_code,plus_code.global_code,types,user_ratings_total
0,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,51.516896,-0.140101,51.514196,-0.142800,https://maps.gstatic.com/mapfiles/place_api/ic...,8ec1e94b6fb432e119dc1dd587f0099a6e1659ce,Topshop Oxford Street,"[{'height': 2988, 'html_attributions': ['<a hr...",ChIJAxqaTdUadkgRFkNFlD7KaJw,"GV85+78 Marylebone, London, UK",9C3XGV85+78,"[clothing_store, store, point_of_interest, est...",3179
0,"60/64 Strand, London WC2N 5LR, UK",51.509563,-0.123262,51.510943,-0.121950,51.508243,-0.124649,https://maps.gstatic.com/mapfiles/place_api/ic...,650685f1557556c7e31ea60e2cdb984740a67920,Topshop,"[{'height': 2510, 'html_attributions': ['<a hr...",ChIJXYyhVckEdkgRm1Kr-CNa_I8,"GV5G+RM Charing Cross, London, UK",9C3XGV5G+RM,"[clothing_store, store, point_of_interest, est...",182
0,"MSU1, 1 New Change, London EC2V 6AH, UK",51.514293,-0.096334,51.515747,-0.094966,51.513048,-0.097666,https://maps.gstatic.com/mapfiles/place_api/ic...,71046c1894829da858450a723782128507c4bb90,Topshop,"[{'height': 4160, 'html_attributions': ['<a hr...",ChIJ41b8t6oEdkgRioXfCB0a1M8,"GW73+PF City of London, London, UK",9C3XGW73+PF,"[clothing_store, store, point_of_interest, est...",152
0,"Westfield London, 2039-2041 Ariel Way, Shepher...",51.506853,-0.221237,51.508203,-0.219887,51.505503,-0.222586,https://maps.gstatic.com/mapfiles/place_api/ic...,2900885c83ac373c3671fc3e6f0be1b1effb669c,Topshop,"[{'height': 3648, 'html_attributions': ['<a hr...",ChIJ5_s8rdAPdkgRnW0ux0f40SI,"GQ4H+PG White City, London, UK",9C3XGQ4H+PG,"[clothing_store, store, point_of_interest, est...",245
0,"70 Brompton Rd, Knightsbridge, London SW3 1ER, UK",51.500112,-0.163343,51.501361,-0.161800,51.498661,-0.164500,https://maps.gstatic.com/mapfiles/place_api/ic...,117549fe2dae8171949b67a61779ea53e58d6bae,Topshop,"[{'height': 1599, 'html_attributions': ['<a hr...",ChIJdXR0pjgFdkgRa_62HnZq-p4,"GR2P+2M Knightsbridge, London, UK",9C3XGR2P+2M,"[clothing_store, store, point_of_interest, est...",92
0,"536-540 Oxford St, Marylebone, London W1C 1LS, UK",51.513731,-0.157668,51.514986,-0.156254,51.512286,-0.158953,https://maps.gstatic.com/mapfiles/place_api/ic...,db6d08d26506a5328536c6d76cb9637ffa40a6f5,Topshop,"[{'height': 2048, 'html_attributions': ['<a hr...",ChIJ1ZrqQTMFdkgRWy-9ba07YE8,"GR7R+FW Marylebone, London, UK",9C3XGR7R+FW,"[clothing_store, store, point_of_interest, est...",121

In [8]:
#https://developers.google.com/maps/documentation/javascript/examples/places-placeid-finder
#df_populartimes = populartimes.get_id(key,'ChIJAxqaTdUadkgRFkNFlD7KaJw')

df_populartimes = pd.DataFrame()

for place_id in google_json.loc[:,'place_id']:
    populartimes_json = populartimes.get_id(key,place_id)
    df_populartimes = df_populartimes.append(json_normalize(populartimes_json))

/srv/conda/envs/notebook/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [9]:
df_populartimes.reset_index(drop=True, inplace=True)
df_populartimes

,address,coordinates.lat,coordinates.lng,current_popularity,id,international_phone_number,name,populartimes,rating,rating_n,time_spent,types
0,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,47.0,ChIJAxqaTdUadkgRFkNFlD7KaJw,+44 844 848 7487,Topshop Oxford Street,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.1,3179,"[25, 60]","[clothing_store, store, point_of_interest, est..."
1,"60/64 Strand, London WC2N 5LR, UK",51.509563,-0.123262,NaN,ChIJXYyhVckEdkgRm1Kr-CNa_I8,+44 20 7839 4144,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.6,182,"[25, 25]","[clothing_store, store, point_of_interest, est..."
2,"MSU1, 1 New Change, London EC2V 6AH, UK",51.514293,-0.096334,NaN,ChIJ41b8t6oEdkgRioXfCB0a1M8,+44 20 7248 0180,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.9,152,"[15, 15]","[clothing_store, store, point_of_interest, est..."
3,"Westfield London, 2039-2041 Ariel Way, Shepher...",51.506853,-0.221237,22.0,ChIJ5_s8rdAPdkgRnW0ux0f40SI,+44 20 8834 4688,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.8,245,"[10, 10]","[clothing_store, store, point_of_interest, est..."
4,"70 Brompton Rd, Knightsbridge, London SW3 1ER, UK",51.500112,-0.163343,NaN,ChIJdXR0pjgFdkgRa_62HnZq-p4,+44 20 7581 6467,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.5,92,"[25, 60]","[clothing_store, store, point_of_interest, est..."
5,"536-540 Oxford St, Marylebone, London W1C 1LS, UK",51.513731,-0.157668,NaN,ChIJ1ZrqQTMFdkgRWy-9ba07YE8,+44 20 7499 3193,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.6,121,"[20, 45]","[clothing_store, store, point_of_interest, est..."

In [16]:
def getNormalPopularity(placeId, day, hour):
    dayname = calendar.day_name[day]
    temp1 = df_populartimes[df_populartimes['id']==placeId]
    temp2 = json_normalize(temp1['populartimes'][temp1.index.values[0]])
    temp3 = temp2[temp2['name']==dayname]
    temp4 = temp3['data'].values
    normalPopularity = temp4[0][hour]
    #print(placeId, dayname, hour, temp3)
    return(normalPopularity)

In [17]:
timezone = 1 #set 1 for BST and 0 for GMT
normal_popularity = []
for id in df_populartimes['id']:
    normal_popularity.append(getNormalPopularity(id, datetime.today().weekday(), datetime.today().hour + timezone))
    
normal_popularity

ChIJAxqaTdUadkgRFkNFlD7KaJw Wednesday 17                                                 data       name
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 10, 15, 21, 26,...  Wednesday
ChIJXYyhVckEdkgRm1Kr-CNa_I8 Wednesday 17                                                 data       name
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 18, 29, 39, 48...  Wednesday
ChIJ41b8t6oEdkgRioXfCB0a1M8 Wednesday 17                                                 data       name
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 18, 25, 16, 53, 84...  Wednesday
ChIJ5_s8rdAPdkgRnW0ux0f40SI Wednesday 17                                                 data       name
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 22, 30, 32,...  Wednesday
ChIJdXR0pjgFdkgRa_62HnZq-p4 Wednesday 17                                                 data       name
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 26, 42, 55, 55,...  Wednesday
ChIJ1ZrqQTMFdkgRWy-9ba07YE8 Wednesday 17                                                 data       name
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 23, 42, 57, 65...  Wednesday

[40, 59, 70, 37, 44, 42]

In [20]:

df_currentpopularity = df_populartimes.loc[:,['id','name','address','current_popularity']]
df_currentpopularity.loc[:,'current_datetime_gmt'] = datetime.strftime(datetime.today(), "%Y-%m-%d %H:%M:%S")
#df_currentpopularity.loc[:,'weekday'] = datetime.today().weekday()
#df_currentpopularity.loc[:,'hour'] = datetime.today().hour + timezone
df_currentpopularity.loc[:,'normal_popularity'] = normal_popularity
df_currentpopularity.loc[:,'unusual_popularity'] = df_currentpopularity['current_popularity']-df_currentpopularity['normal_popularity']
df_currentpopularity.rename(columns={'id':'place_id'}, inplace=True)
df_currentpopularity

,place_id,name,address,current_popularity,current_datetime_gmt,normal_popularity,unusual_popularity
0,ChIJAxqaTdUadkgRFkNFlD7KaJw,Topshop Oxford Street,"214 Oxford St, Marylebone, London W1C 1DA, UK",47.0,2019-05-01 16:32:17,40,7.0
1,ChIJXYyhVckEdkgRm1Kr-CNa_I8,Topshop,"60/64 Strand, London WC2N 5LR, UK",NaN,2019-05-01 16:32:17,59,NaN
2,ChIJ41b8t6oEdkgRioXfCB0a1M8,Topshop,"MSU1, 1 New Change, London EC2V 6AH, UK",NaN,2019-05-01 16:32:17,70,NaN
3,ChIJ5_s8rdAPdkgRnW0ux0f40SI,Topshop,"Westfield London, 2039-2041 Ariel Way, Shepher...",22.0,2019-05-01 16:32:17,37,-15.0
4,ChIJdXR0pjgFdkgRa_62HnZq-p4,Topshop,"70 Brompton Rd, Knightsbridge, London SW3 1ER, UK",NaN,2019-05-01 16:32:17,44,NaN
5,ChIJ1ZrqQTMFdkgRWy-9ba07YE8,Topshop,"536-540 Oxford St, Marylebone, London W1C 1LS, UK",NaN,2019-05-01 16:32:17,42,NaN

In [110]:
test1 = json_normalize(TS_OS['populartimes'][0])
test1 = test1.style.set_properties(subset=['data'], **{'width': '500px'})
test1

In [10]:
#populartimes.get('AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU',['clothing_store'],(51.51568529999999,-0.1416379),(51.5156853,-0.1416379), radius=100)

### Field List Pricing
*Basic fields are billed at base rate, and incur no additional charges. Contact and Atmosphere fields are billed at a higher rate.*

##### Basic
The Basic category includes the following fields:
formatted_address, geometry, icon, id, name, permanently_closed, photos, place_id, plus_code, scope, types, user_ratings_total

#### Contact
The Contact category includes the following field: opening_hours (Place Search returns only open_now; use a Place Details request to get the full opening_hours results).

#### Atmosphere
The Atmosphere category includes the following fields: price_level, rating