Google maps data info
https://support.google.com/business/answer/6263531?hl=en-GB

In [1]:
!pip install --upgrade git+https://github.com/m-wrzr/populartimes
!pip install pandas

Collecting git+https://github.com/m-wrzr/populartimes
  Cloning https://github.com/m-wrzr/populartimes to /tmp/pip-req-build-8184irm5
  Running command git clone -q https://github.com/m-wrzr/populartimes /tmp/pip-req-build-8184irm5
Requirement already satisfied, skipping upgrade: requests in /srv/conda/envs/notebook/lib/python3.7/site-packages (from populartimes==2.0) (2.21.0)
Requirement already satisfied, skipping upgrade: geopy in /srv/conda/envs/notebook/lib/python3.7/site-packages (from populartimes==2.0) (1.19.0)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->populartimes==2.0) (2019.3.9)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->populartimes==2.0) (2.8)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->populartimes==2.0) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->populartimes==2.0) (1.24.2)
Requirement already satisfied, skipping upgrade: geographiclib<2,>=1.49 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from geopy->populartimes==2.0) (1.49)
Building wheels for collected packages: populartimes
  Building wheel for populartimes (setup.py) ... done
  Stored in directory: /tmp/pip-ephem-wheel-cache-e_kdqm8x/wheels/75/ae/aa/56b796466ed114d29102c9f74ec35c9a41b53c69ac5215d58a
Successfully built populartimes
Installing collected packages: populartimes
  Found existing installation: populartimes 2.0
    Uninstalling populartimes-2.0:
      Successfully uninstalled populartimes-2.0
Successfully installed populartimes-2.0
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.16.3)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
import numpy as np
import pandas as pd
import requests # library to handle requests
import json # library to handle JSON files
import populartimes # https://github.com/m-wrzr/populartimes
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
from datetime import datetime
import calendar

In [3]:
#import store location data
df_storelocations = pd.read_csv("https://raw.githubusercontent.com/ninjananjo/Clothing-Store-Competition/master/StoreLocations.csv")
df_storelocations = df_storelocations[['TOWN','NAME','ID','COUNTRY','Address1','Postcode','Host']]
#df_storelocations = df_storelocations[df_storelocations['ID'].str.startswith("TS")]

In [4]:
brands = []
for brand in df_storelocations['ID']:
    #print(brand)
    if brand.startswith("TS"):
            brands.append("Topshop")
    elif brand.startswith("TM"):
            brands.append("Topman")
    elif brand.startswith("OU"):
            brands.append("Outfit")
    else:
            brands.append("Exclude")
            
df_storelocations.loc[:,'Brand'] = brands
df_storelocations = df_storelocations[df_storelocations['Brand'] != "Exclude"]

In [5]:
df_storelocations

,TOWN,NAME,ID,COUNTRY,Address1,Postcode,Host,Brand
1,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TM7329,ENG,214 Oxford Street,W1W 8LG,TS0001,Topman
2,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TS0001,ENG,214 Oxford Street,W1W 8LG,TS0001,Topshop
3,LONDON (CITY),CHEAPSIDE,TS0873,ENG,Unit Msu1,EC2V 6AH,TS0873,Topshop
4,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE OUTFIT,OU0207,ENG,72-76,NE1 7DF,OU0207,Outfit
5,Z USA LOS ANGELES,LOS ANGELES,TM8104,US,189 The Grove Drive,90036,TS1271,Topman
6,Z USA NEW YORK,NEW YORK (FIFTH AVENUE),TM8586,US,608 Fifth Avenue,NY10020,TS6080,Topman
7,MANCHESTER (TRAFFORD C),TRAFFORD CENTRE,TS1012,ENG,130-134 Regent Crescent,M17 8AF,TS1012,Topshop

In [6]:
df_storelocations['findplacefromtext']= df_storelocations['Brand'] + "%20" + df_storelocations['Postcode'].str.replace(" ","")
df_storelocations

,TOWN,NAME,ID,COUNTRY,Address1,Postcode,Host,Brand,findplacefromtext
1,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TM7329,ENG,214 Oxford Street,W1W 8LG,TS0001,Topman,Topman%20W1W8LG
2,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TS0001,ENG,214 Oxford Street,W1W 8LG,TS0001,Topshop,Topshop%20W1W8LG
3,LONDON (CITY),CHEAPSIDE,TS0873,ENG,Unit Msu1,EC2V 6AH,TS0873,Topshop,Topshop%20EC2V6AH
4,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE OUTFIT,OU0207,ENG,72-76,NE1 7DF,OU0207,Outfit,Outfit%20NE17DF
5,Z USA LOS ANGELES,LOS ANGELES,TM8104,US,189 The Grove Drive,90036,TS1271,Topman,Topman%2090036
6,Z USA NEW YORK,NEW YORK (FIFTH AVENUE),TM8586,US,608 Fifth Avenue,NY10020,TS6080,Topman,Topman%20NY10020
7,MANCHESTER (TRAFFORD C),TRAFFORD CENTRE,TS1012,ENG,130-134 Regent Crescent,M17 8AF,TS1012,Topshop,Topshop%20M178AF

In [7]:
#GoogleMaps API Credentials

#location='' #51.515685,-0.1416378
#radius=''
#types='clothing_store'
#name='topshop, WC2N 5LR'
#g_input='topshop%20WC2N5LR'
#store_locations=['topshop%20W1W8LG','topshop%20W127GE']
#fields='formatted_address,geometry,id,name,permanently_closed,place_id,types'
fields='formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total'
key='AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU'

In [8]:
google_json = pd.DataFrame()

for store in df_storelocations['findplacefromtext']:
    url="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&key={}&fields={}".format(store, key, fields)
    #print(url)
    temp = requests.get(url).json()
    google_json = google_json.append(json_normalize(temp['candidates']))
    

#https://developers.google.com/places/web-service/search
#https://developers.google.com/places/web-service/search#PlaceSearchResults

In [9]:
google_json

,formatted_address,geometry.location.lat,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,icon,id,name,photos,place_id,plus_code.compound_code,plus_code.global_code,types,user_ratings_total
0,"214 Oxford St, London W1C 1DA, UK",51.515514,-0.141265,51.517066,-0.139725,51.514366,-0.142424,https://maps.gstatic.com/mapfiles/place_api/ic...,6fce3dfa9f931c3148f3a9a8519689d7da288e36,Topman,"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJwcDt38wEdkgRVG87ERhnAZU,"GV85+6F London, United Kingdom",9C3XGV85+6F,"[clothing_store, store, point_of_interest, est...",310
0,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,51.516896,-0.140101,51.514196,-0.142800,https://maps.gstatic.com/mapfiles/place_api/ic...,8ec1e94b6fb432e119dc1dd587f0099a6e1659ce,Topshop,"[{'height': 2988, 'html_attributions': ['<a hr...",ChIJAxqaTdUadkgRFkNFlD7KaJw,"GV85+78 Marylebone, London, UK",9C3XGV85+78,"[clothing_store, store, point_of_interest, est...",3180
0,"MSU1, 1 New Change, London EC2V 6AH, UK",51.514293,-0.096334,51.515747,-0.094966,51.513048,-0.097666,https://maps.gstatic.com/mapfiles/place_api/ic...,71046c1894829da858450a723782128507c4bb90,Topshop,"[{'height': 4160, 'html_attributions': ['<a hr...",ChIJ41b8t6oEdkgRioXfCB0a1M8,"GW73+PF City of London, London, UK",9C3XGW73+PF,"[clothing_store, store, point_of_interest, est...",152
0,"72-74 Northumberland St, Newcastle upon Tyne N...",54.976135,-1.612228,54.977446,-1.610532,54.974746,-1.613232,https://maps.gstatic.com/mapfiles/place_api/ic...,682223f3698cd34d02f7f5772683808a62874f51,OUTFIT,"[{'height': 4160, 'html_attributions': ['<a hr...",ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4,"X9GQ+F4 Newcastle upon Tyne, UK",9C6WX9GQ+F4,"[clothing_store, shoe_store, store, point_of_i...",17
0,"189 The Grove Dr, Los Angeles, CA 90036, USA",34.072011,-118.359099,34.073361,-118.357749,34.070661,-118.360449,https://maps.gstatic.com/mapfiles/place_api/ic...,16cecc7ca88ec6a736997d2d6d8c09fd0335da83,Topshop Topman,"[{'height': 3264, 'html_attributions': ['<a hr...",ChIJWYAZNzC5woARqe_Pu_5D7jw,"3JCR+R9 Los Angeles, California, USA",85633JCR+R9,"[clothing_store, store, point_of_interest, est...",256
0,"The Trafford Centre, 130-134 Regent Cres, Manc...",53.466571,-2.349546,53.467921,-2.348196,53.465221,-2.350896,https://maps.gstatic.com/mapfiles/place_api/ic...,7ee0d26bb694f80f37e77eab362e165f45158c6d,Topshop,"[{'height': 2080, 'html_attributions': ['<a hr...",ChIJvUYBYLuue0gRKwHtN1aAiN4,"FM82+J5 Stretford, Manchester, UK",9C5VFM82+J5,"[clothing_store, store, point_of_interest, est...",397

In [10]:
#https://developers.google.com/maps/documentation/javascript/examples/places-placeid-finder
#df_populartimes = populartimes.get_id(key,'ChIJAxqaTdUadkgRFkNFlD7KaJw')

df_populartimes = pd.DataFrame()

for place_id in google_json.loc[:,'place_id']:
    populartimes_json = populartimes.get_id(key,place_id)
    df_populartimes = df_populartimes.append(json_normalize(populartimes_json))

/srv/conda/envs/notebook/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [11]:
df_populartimes.reset_index(drop=True, inplace=True)
df_populartimes

,address,coordinates.lat,coordinates.lng,current_popularity,id,international_phone_number,name,populartimes,rating,rating_n,time_spent,types
0,"214 Oxford St, London W1C 1DA, UK",51.515514,-0.141265,NaN,ChIJwcDt38wEdkgRVG87ERhnAZU,NaN,Topman,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.3,310,"[25, 60]","[clothing_store, store, point_of_interest, est..."
1,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,61.0,ChIJAxqaTdUadkgRFkNFlD7KaJw,+44 20 7927 0214,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.1,3180,"[25, 60]","[clothing_store, store, point_of_interest, est..."
2,"MSU1, 1 New Change, London EC2V 6AH, UK",51.514293,-0.096334,NaN,ChIJ41b8t6oEdkgRioXfCB0a1M8,+44 20 7248 0180,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.9,152,"[15, 15]","[clothing_store, store, point_of_interest, est..."
3,"72-74 Northumberland St, Newcastle upon Tyne N...",54.976135,-1.612228,NaN,ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4,+44 191 230 0874,OUTFIT,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.1,17,"[10, 10]","[clothing_store, shoe_store, store, point_of_i..."
4,"189 The Grove Dr, Los Angeles, CA 90036, USA",34.072011,-118.359099,NaN,ChIJWYAZNzC5woARqe_Pu_5D7jw,+1 323-938-1085,Topshop Topman,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.0,256,"[15, 15]","[clothing_store, store, point_of_interest, est..."
5,"The Trafford Centre, 130-134 Regent Cres, Stre...",53.466571,-2.349546,34.0,ChIJvUYBYLuue0gRKwHtN1aAiN4,+44 161 746 8703,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.9,397,"[10, 10]","[clothing_store, store, point_of_interest, est..."

In [12]:
def getNormalPopularity(placeId, day, hour):
    dayname = calendar.day_name[day]
    temp1 = df_populartimes[df_populartimes['id']==placeId]
    temp2 = json_normalize(temp1['populartimes'][temp1.index.values[0]])
    temp3 = temp2[temp2['name']==dayname]
    temp4 = temp3['data'].values
    normalPopularity = temp4[0][hour]
    print(placeId, dayname, hour, temp3)
    return(normalPopularity)

In [13]:
timezone = 1 #set 1 for BST and 0 for GMT
normal_popularity = []
for id in df_populartimes['id']:
    normal_popularity.append(getNormalPopularity(id, datetime.today().weekday(), datetime.today().hour + timezone))
    
normal_popularity

ChIJwcDt38wEdkgRVG87ERhnAZU Thursday 17                                                 data      name
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 11, 16, 21, 25,...  Thursday
ChIJAxqaTdUadkgRFkNFlD7KaJw Thursday 17                                                 data      name
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 13, 21, 28, 32,...  Thursday
ChIJ41b8t6oEdkgRioXfCB0a1M8 Thursday 17                                                 data      name
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 34, 78, 100,...  Thursday
ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4 Thursday 17                                                 data      name
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 13, 31, 48, 56,...  Thursday
ChIJWYAZNzC5woARqe_Pu_5D7jw Thursday 17                                                 data      name
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 16, 23, 32,...  Thursday
ChIJvUYBYLuue0gRKwHtN1aAiN4 Thursday 17                                                 data      name
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 18, 28, 34, ...  Thursday

[38, 50, 66, 22, 34, 27]

In [16]:

df_currentpopularity = df_populartimes.loc[:,['id','name','address','current_popularity']]
df_currentpopularity.loc[:,'current_datetime_gmt'] = datetime.strftime(datetime.today(), "%Y-%m-%d %H:%M:%S")
#df_currentpopularity.loc[:,'weekday'] = datetime.today().weekday()
#df_currentpopularity.loc[:,'hour'] = datetime.today().hour + timezone
df_currentpopularity.loc[:,'normal_popularity'] = normal_popularity
df_currentpopularity.loc[:,'popularity_variance'] = df_currentpopularity['current_popularity']-df_currentpopularity['normal_popularity']
df_currentpopularity.rename(columns={'id':'place_id'}, inplace=True)
df_currentpopularity

,place_id,name,address,current_popularity,current_datetime_gmt,normal_popularity,popularity_variance
0,ChIJwcDt38wEdkgRVG87ERhnAZU,Topman,"214 Oxford St, London W1C 1DA, UK",NaN,2019-05-02 16:41:44,38,NaN
1,ChIJAxqaTdUadkgRFkNFlD7KaJw,Topshop,"214 Oxford St, Marylebone, London W1C 1DA, UK",61.0,2019-05-02 16:41:44,50,11.0
2,ChIJ41b8t6oEdkgRioXfCB0a1M8,Topshop,"MSU1, 1 New Change, London EC2V 6AH, UK",NaN,2019-05-02 16:41:44,66,NaN
3,ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4,OUTFIT,"72-74 Northumberland St, Newcastle upon Tyne N...",NaN,2019-05-02 16:41:44,22,NaN
4,ChIJWYAZNzC5woARqe_Pu_5D7jw,Topshop Topman,"189 The Grove Dr, Los Angeles, CA 90036, USA",NaN,2019-05-02 16:41:44,34,NaN
5,ChIJvUYBYLuue0gRKwHtN1aAiN4,Topshop,"The Trafford Centre, 130-134 Regent Cres, Stre...",34.0,2019-05-02 16:41:44,27,7.0

In [110]:
test1 = json_normalize(TS_OS['populartimes'][0])
test1 = test1.style.set_properties(subset=['data'], **{'width': '500px'})
test1

In [10]:
#populartimes.get('AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU',['clothing_store'],(51.51568529999999,-0.1416379),(51.5156853,-0.1416379), radius=100)

### Field List Pricing
*Basic fields are billed at base rate, and incur no additional charges. Contact and Atmosphere fields are billed at a higher rate.*

##### Basic
The Basic category includes the following fields:
formatted_address, geometry, icon, id, name, permanently_closed, photos, place_id, plus_code, scope, types, user_ratings_total

#### Contact
The Contact category includes the following field: opening_hours (Place Search returns only open_now; use a Place Details request to get the full opening_hours results).

#### Atmosphere
The Atmosphere category includes the following fields: price_level, rating