Google maps data info
https://support.google.com/business/answer/6263531?hl=en-GB

In [1]:
!pip install --upgrade git+https://github.com/m-wrzr/populartimes
!pip install pandas

Collecting git+https://github.com/m-wrzr/populartimes
  Cloning https://github.com/m-wrzr/populartimes to c:\users\james\appdata\local\temp\pip-req-build-qs6khxnk
Requirement already satisfied, skipping upgrade: requests in c:\users\james\anaconda3\lib\site-packages (from populartimes==2.0) (2.21.0)
Requirement already satisfied, skipping upgrade: geopy in c:\users\james\anaconda3\lib\site-packages (from populartimes==2.0) (1.19.0)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (2019.3.9)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (1.24.1)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (3.0.4)
Requirement already satisfied, skipping upgrade: geographiclib<2,>=1.49 in c:\users\james\anaconda3\lib\site-packages (from geopy->populartimes==2.0) (1.49)
Building wheels for collected packages: populartimes
  Building wheel for populartimes (setup.py): started
  Building wheel for populartimes (setup.py): finished with status 'done'
  Stored in directory: C:\Users\james\AppData\Local\Temp\pip-ephem-wheel-cache-5sbv_o6n\wheels\75\ae\aa\56b796466ed114d29102c9f74ec35c9a41b53c69ac5215d58a
Successfully built populartimes
Installing collected packages: populartimes
  Found existing installation: populartimes 2.0
    Uninstalling populartimes-2.0:
      Successfully uninstalled populartimes-2.0
Successfully installed populartimes-2.0
Requirement already satisfied: pandas in c:\users\james\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\james\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in c:\users\james\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [26]:
import numpy as np
import pandas as pd
import requests # library to handle requests
import json # library to handle JSON files
import populartimes # https://github.com/m-wrzr/populartimes
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
from datetime import datetime
import calendar
from IPython.display import display, HTML

In [3]:
#import store location data
df_storelocations = pd.read_csv("https://raw.githubusercontent.com/ninjananjo/Clothing-Store-Competition/master/StoreLocations.csv")
#remove unwanted fields
df_storelocations = df_storelocations[['TOWN','NAME','ID','COUNTRY','Address1','Postcode','Host']]

In [4]:
def getBrand(branch_id):
    if branch_id.startswith("TS"):
            return("Topshop")
    elif branch_id.startswith("TM"):
            return("Topman")
    elif branch_id.startswith("OU"):
            return("Outfit")
    elif branch_id.startswith("MS"):
            return("Miss Selfridge")
    else:
            return("Unknown")

In [19]:
#Add brand column
brands = []
for branch_id in df_storelocations['ID']:
    brands.append(getBrand(branch_id))
            
df_storelocations.loc[:,'Brand'] = brands

#Exclude unrecognised brands
print(sum(df_storelocations['Brand'] == "Unknown"), "unrecognised stores to be excluded")
df_storelocations = df_storelocations[df_storelocations['Brand'] != "Unknown"]

#Add new column with googlemaps search text
df_storelocations['findplacefromtext']= df_storelocations['Brand'].str.replace(" ","%20")\
                                      + ",%20" + df_storelocations['Postcode'].str.replace(" ","%20")\
                                      + ",%20" + df_storelocations['COUNTRY'].str.replace(" ","%20")
#+ ",%20" + df_storelocations['Address1'].str.replace(" ","%20")\    
    
df_storelocations_rows = df_storelocations.shape[0]    
df_storelocations.head(10)

0 unrecognised stores to be excluded

,TOWN,NAME,ID,COUNTRY,Address1,Postcode,Host,Brand,findplacefromtext
0,LONDON (OXFORD CIRCUS),LONDON OXFORD CIRCUS,MS0325,ENG,"Ground Floor, 36-38 Great Castle Street",W1W 8LG,TS0001,Miss Selfridge,"Miss%20Selfridge,%20W1W%208LG,%20ENG"
1,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TM7329,ENG,214 Oxford Street,W1W 8LG,TS0001,Topman,"Topman,%20W1W%208LG,%20ENG"
2,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,TS0001,ENG,214 Oxford Street,W1W 8LG,TS0001,Topshop,"Topshop,%20W1W%208LG,%20ENG"
3,LONDON (CITY),CHEAPSIDE,TS0873,ENG,Unit Msu1,EC2V 6AH,TS0873,Topshop,"Topshop,%20EC2V%206AH,%20ENG"
4,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE OUTFIT,OU0207,ENG,72-76,NE1 7DF,OU0207,Outfit,"Outfit,%20NE1%207DF,%20ENG"
5,Z USA LOS ANGELES,LOS ANGELES,TM8104,US,189 The Grove Drive,90036,TS1271,Topman,"Topman,%2090036,%20US"
6,MANCHESTER (TRAFFORD C),TRAFFORD CENTRE,TS1012,ENG,130-134 Regent Crescent,M17 8AF,TS1012,Topshop,"Topshop,%20M17%208AF,%20ENG"
7,HAYES,HAYES LOMBARDY RET PARK OUTFIT,OU0201,ENG,Unit 3,UB3 3EX,OU0201,Outfit,"Outfit,%20UB3%203EX,%20ENG"

In [20]:
#GoogleMaps API Credentials

#for field definition go to https://developers.google.com/places/web-service/search#PlaceSearchResults
#Basic: formatted_address,geometry,icon,id,name,permanently_closed,photos,place_id,plus_code,types,user_ratings_total
#Contact: opening_hours, open_now,
#Atmospheric: price_level, rating
fields='place_id,name,formatted_address,geometry,permanently_closed,plus_code'
key='AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU'

In [28]:
google_json = pd.DataFrame()

for store in df_storelocations['findplacefromtext']:
    #For request parameters go to https://developers.google.com/places/web-service/search
    url="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&key={}&fields={}".format(store, key, fields)
    #print(url)
    temp = requests.get(url).json() #Google Places API request   
    google_json = google_json.append(json_normalize(temp['candidates'][0])) #takes top response only
    
google_json.reset_index(drop=True, inplace=True)

#Check that the number of rows from Googlemaps matches original store info file.
if google_json.shape[0] != df_storelocations_rows: 
    print("Error - Number of rows has changed. df_storelocations:{} vs google_json:{}".format(google_json.shape[0], df_storelocations_rows))
else:
    display(google_json.head(10))

,formatted_address,geometry.location.lat,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,name,place_id,plus_code.compound_code,plus_code.global_code
0,"Ground Floor, 36-38 Great Castle St, Marylebon...",51.515649,-0.140957,51.517009,-0.139521,51.514310,-0.142221,Miss Selfridge,ChIJZZmpzywFdkgRu2BBVDT3Dmc,"GV85+7J London, United Kingdom",9C3XGV85+7J
1,"214 Oxford St, London W1C 1DA, UK",51.515514,-0.141265,51.517066,-0.139725,51.514366,-0.142424,Topman,ChIJwcDt38wEdkgRVG87ERhnAZU,"GV85+6F London, United Kingdom",9C3XGV85+6F
2,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,51.516896,-0.140101,51.514196,-0.142800,Topshop,ChIJAxqaTdUadkgRFkNFlD7KaJw,"GV85+78 Marylebone, London, UK",9C3XGV85+78
3,"MSU1, 1 New Change, London EC2V 6AH, UK",51.514293,-0.096334,51.515747,-0.094966,51.513048,-0.097666,Topshop,ChIJ41b8t6oEdkgRioXfCB0a1M8,"GW73+PF City of London, London, UK",9C3XGW73+PF
4,"72-74 Northumberland St, Newcastle upon Tyne N...",54.976135,-1.612228,54.977446,-1.610532,54.974746,-1.613232,OUTFIT,ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4,"X9GQ+F4 Newcastle upon Tyne, UK",9C6WX9GQ+F4
5,"189 The Grove Dr, Los Angeles, CA 90036, USA",34.072011,-118.359099,34.073361,-118.357749,34.070661,-118.360449,Topshop Topman,ChIJWYAZNzC5woARqe_Pu_5D7jw,"3JCR+R9 Los Angeles, California, USA",85633JCR+R9
6,"The Trafford Centre, 130-134 Regent Cres, Manc...",53.466571,-2.349546,53.467921,-2.348196,53.465221,-2.350896,Topshop,ChIJvUYBYLuue0gRKwHtN1aAiN4,"FM82+J5 Stretford, Manchester, UK",9C5VFM82+J5
7,"Lombardy Retail Park, 3, Hayes UB3 3EX, United...",51.516437,-0.405550,51.517766,-0.403966,51.515067,-0.406665,OUTFIT,ChIJP-ovg2FtdkgRL9DPnlO2wOk,"GH8V+HQ Hayes, United Kingdom",9C3XGH8V+HQ

In [29]:
#df_populartimes = populartimes.get_id(key,'ChIJAxqaTdUadkgRFkNFlD7KaJw')

df_populartimes = pd.DataFrame()

for place_id in google_json.loc[:,'place_id']:
    populartimes_json = populartimes.get_id(key,place_id)
    df_populartimes = df_populartimes.append(json_normalize(populartimes_json), sort=True)

df_populartimes.reset_index(drop=True, inplace=True)
df_populartimes = df_populartimes.merge(df_storelocations['ID'],left_index=True, right_index = True)

#Check that the number of rows from PopularTimes matches original store info file.
if df_populartimes.shape[0] != df_storelocations_rows: 
    print("Error - Number of rows has changed. df_storelocations:{} vs df_populartimes:{}".format(df_populartimes.shape[0], df_storelocations_rows))
else:
    display(df_populartimes.head(10))

,address,coordinates.lat,coordinates.lng,id,international_phone_number,name,populartimes,rating,rating_n,time_spent,types,ID
0,"Ground Floor, 36-38 Great Castle St, Marylebon...",51.515649,-0.140957,ChIJZZmpzywFdkgRu2BBVDT3Dmc,+44 20 7927 0158,Miss Selfridge,NaN,4.1,42,NaN,"[clothing_store, store, point_of_interest, est...",MS0325
1,"214 Oxford St, London W1C 1DA, UK",51.515514,-0.141265,ChIJwcDt38wEdkgRVG87ERhnAZU,NaN,Topman,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.3,310,"[25, 60]","[clothing_store, store, point_of_interest, est...",TM7329
2,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,ChIJAxqaTdUadkgRFkNFlD7KaJw,+44 20 7927 0214,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.0,3184,"[25, 60]","[clothing_store, store, point_of_interest, est...",TS0001
3,"MSU1, 1 New Change, London EC2V 6AH, UK",51.514293,-0.096334,ChIJ41b8t6oEdkgRioXfCB0a1M8,+44 20 7248 0180,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.9,152,"[15, 15]","[clothing_store, store, point_of_interest, est...",TS0873
4,"72-74 Northumberland St, Newcastle upon Tyne N...",54.976135,-1.612228,ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4,+44 191 230 0874,OUTFIT,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.1,17,"[10, 10]","[clothing_store, shoe_store, store, point_of_i...",OU0207
5,"189 The Grove Dr, Los Angeles, CA 90036, USA",34.072011,-118.359099,ChIJWYAZNzC5woARqe_Pu_5D7jw,+1 323-938-1085,Topshop Topman,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.0,257,"[15, 15]","[clothing_store, store, point_of_interest, est...",TM8104
6,"The Trafford Centre, 130-134 Regent Cres, Stre...",53.466571,-2.349546,ChIJvUYBYLuue0gRKwHtN1aAiN4,+44 161 746 8703,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.9,397,"[10, 10]","[clothing_store, store, point_of_interest, est...",TS1012
7,"3, Lombardy Retail Park, Hayes UB3 3EX, UK",51.516437,-0.405550,ChIJP-ovg2FtdkgRL9DPnlO2wOk,+44 20 8573 6980,OUTFIT,NaN,3.4,28,NaN,"[clothing_store, shoe_store, store, point_of_i...",OU0201

In [37]:
def getNormalPopularity(placeId, day, hour):
    try:
        dayname = calendar.day_name[day]
        temp1 = df_populartimes[df_populartimes['id']==placeId]
        temp2 = json_normalize(temp1['populartimes'][temp1.index.values[0]], errors = 'ignore')
        temp3 = temp2[temp2['name']==dayname]
        temp4 = temp3['data'].values
        normalPopularity = temp4[0][hour]
        #print(placeId, dayname, hour, temp3)
        return(normalPopularity)
    except:
        return(None)

In [43]:
timezone = 0 #set 1 for BST and 0 for GMT
normal_popularity = []
for id in df_populartimes['id']:
    normal_popularity.append(getNormalPopularity(id, datetime.today().weekday(), datetime.today().hour + timezone))
    
normal_popularity

[None, 0, 0, 0, 5, 8, 0, None]

In [45]:
df_currentpopularity = df_populartimes.loc[:,['id','name','address','current_popularity']]
df_currentpopularity.loc[:,'current_datetime_gmt'] = datetime.strftime(datetime.today(), "%Y-%m-%d %H:%M:%S")
#df_currentpopularity.loc[:,'weekday'] = datetime.today().weekday()
#df_currentpopularity.loc[:,'hour'] = datetime.today().hour + timezone
df_currentpopularity.loc[:,'normal_popularity'] = normal_popularity
df_currentpopularity.loc[:,'popularity_variance'] = df_currentpopularity.loc[:,'current_popularity']-df_currentpopularity.loc[:,'normal_popularity']
df_currentpopularity.rename(columns={'id':'place_id'}, inplace=True)
df_currentpopularity = df_currentpopularity.merge(df_populartimes, left_on='place_id', right_on='id')
df_currentpopularity.head(10)

,place_id,name_x,address_x,current_popularity,current_datetime_gmt,normal_popularity,popularity_variance,address_y,coordinates.lat,coordinates.lng,id,international_phone_number,name_y,populartimes,rating,rating_n,time_spent,types,ID
0,ChIJZZmpzywFdkgRu2BBVDT3Dmc,Miss Selfridge,"Ground Floor, 36-38 Great Castle St, Marylebon...",NaN,2019-05-05 10:28:24,NaN,NaN,"Ground Floor, 36-38 Great Castle St, Marylebon...",51.515649,-0.140957,ChIJZZmpzywFdkgRu2BBVDT3Dmc,+44 20 7927 0158,Miss Selfridge,NaN,4.1,42,NaN,"[clothing_store, store, point_of_interest, est...",MS0325
1,ChIJwcDt38wEdkgRVG87ERhnAZU,Topman,"214 Oxford St, London W1C 1DA, UK",NaN,2019-05-05 10:28:24,0.0,NaN,"214 Oxford St, London W1C 1DA, UK",51.515514,-0.141265,ChIJwcDt38wEdkgRVG87ERhnAZU,NaN,Topman,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.3,310,"[25, 60]","[clothing_store, store, point_of_interest, est...",TM7329
2,ChIJAxqaTdUadkgRFkNFlD7KaJw,Topshop,"214 Oxford St, Marylebone, London W1C 1DA, UK",NaN,2019-05-05 10:28:24,0.0,NaN,"214 Oxford St, Marylebone, London W1C 1DA, UK",51.515685,-0.141638,ChIJAxqaTdUadkgRFkNFlD7KaJw,+44 20 7927 0214,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.0,3184,"[25, 60]","[clothing_store, store, point_of_interest, est...",TS0001
3,ChIJ41b8t6oEdkgRioXfCB0a1M8,Topshop,"MSU1, 1 New Change, London EC2V 6AH, UK",NaN,2019-05-05 10:28:24,0.0,NaN,"MSU1, 1 New Change, London EC2V 6AH, UK",51.514293,-0.096334,ChIJ41b8t6oEdkgRioXfCB0a1M8,+44 20 7248 0180,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.9,152,"[15, 15]","[clothing_store, store, point_of_interest, est...",TS0873
4,ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4,OUTFIT,"72-74 Northumberland St, Newcastle upon Tyne N...",NaN,2019-05-05 10:28:24,5.0,NaN,"72-74 Northumberland St, Newcastle upon Tyne N...",54.976135,-1.612228,ChIJ5Sn1b8lwfkgR0pmw-Ll-hg4,+44 191 230 0874,OUTFIT,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.1,17,"[10, 10]","[clothing_store, shoe_store, store, point_of_i...",OU0207
5,ChIJWYAZNzC5woARqe_Pu_5D7jw,Topshop Topman,"189 The Grove Dr, Los Angeles, CA 90036, USA",NaN,2019-05-05 10:28:24,8.0,NaN,"189 The Grove Dr, Los Angeles, CA 90036, USA",34.072011,-118.359099,ChIJWYAZNzC5woARqe_Pu_5D7jw,+1 323-938-1085,Topshop Topman,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.0,257,"[15, 15]","[clothing_store, store, point_of_interest, est...",TM8104
6,ChIJvUYBYLuue0gRKwHtN1aAiN4,Topshop,"The Trafford Centre, 130-134 Regent Cres, Stre...",NaN,2019-05-05 10:28:24,0.0,NaN,"The Trafford Centre, 130-134 Regent Cres, Stre...",53.466571,-2.349546,ChIJvUYBYLuue0gRKwHtN1aAiN4,+44 161 746 8703,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.9,397,"[10, 10]","[clothing_store, store, point_of_interest, est...",TS1012
7,ChIJP-ovg2FtdkgRL9DPnlO2wOk,OUTFIT,"3, Lombardy Retail Park, Hayes UB3 3EX, UK",NaN,2019-05-05 10:28:24,NaN,NaN,"3, Lombardy Retail Park, Hayes UB3 3EX, UK",51.516437,-0.405550,ChIJP-ovg2FtdkgRL9DPnlO2wOk,+44 20 8573 6980,OUTFIT,NaN,3.4,28,NaN,"[clothing_store, shoe_store, store, point_of_i...",OU0201

In [ ]:
test1 = json_normalize(TS_OS['populartimes'][0])
test1 = test1.style.set_properties(subset=['data'], **{'width': '500px'})
test1

In [ ]:
#populartimes.get('AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU',['clothing_store'],(51.51568529999999,-0.1416379),(51.5156853,-0.1416379), radius=100)