In [2]:
list('1')

['1']

In [3]:
listtest = list(str(range(23)))

In [4]:
listtest

['r', 'a', 'n', 'g', 'e', '(', '0', ',', ' ', '2', '3', ')']

In [8]:
list(range(24))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23]