In [1]:
!pip install --upgrade git+https://github.com/m-wrzr/populartimes
!pip install pandas

import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import populartimes # https://github.com/m-wrzr/populartimes

Collecting git+https://github.com/m-wrzr/populartimes
  Cloning https://github.com/m-wrzr/populartimes to c:\users\james\appdata\local\temp\pip-req-build-hogy9wnl
Requirement already satisfied, skipping upgrade: requests in c:\users\james\anaconda3\lib\site-packages (from populartimes==2.0) (2.19.1)
Requirement already satisfied, skipping upgrade: geopy in c:\users\james\anaconda3\lib\site-packages (from populartimes==2.0) (1.19.0)
Requirement already satisfied, skipping upgrade: idna<2.8,>=2.5 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (2.7)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (2019.3.9)
Requirement already satisfied, skipping upgrade: urllib3<1.24,>=1.21.1 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (1.23)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\james\anaconda3\lib\site-packages (from requests->populartimes==2.0) (3.0.4)
Requirement already satisfied, skipping upgrade: geographiclib<2,>=1.49 in c:\users\james\anaconda3\lib\site-packages (from geopy->populartimes==2.0) (1.49)
Building wheels for collected packages: populartimes
  Building wheel for populartimes (setup.py): started
  Building wheel for populartimes (setup.py): finished with status 'done'
  Stored in directory: C:\Users\james\AppData\Local\Temp\pip-ephem-wheel-cache-f7oiar1t\wheels\75\ae\aa\56b796466ed114d29102c9f74ec35c9a41b53c69ac5215d58a
Successfully built populartimes
Installing collected packages: populartimes
  Found existing installation: populartimes 2.0
    Uninstalling populartimes-2.0:
      Successfully uninstalled populartimes-2.0
Successfully installed populartimes-2.0
Requirement already satisfied: pandas in c:\users\james\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in c:\users\james\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\james\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [4]:
df_storelocations = pd.read_csv("https://raw.githubusercontent.com/ninjananjo/Clothing-Store-Competition/master/JD%20Sports%20Proximity/StoreLocations_LatLng.csv", encoding = 'ISO-8859-1')
df_storelocations = df_storelocations[(df_storelocations['Host']=='TS0001')]
df_storelocations

,Unnamed: 0,Host,TOWN,NAME,COUNTRY,Address1,Postcode,PNO,NSF,Branch IDs,Latitude,Longitude
7,7,TS0001,LONDON (OXFORD CIRCUS),OXFORD CIRCUS,ENG,214 Oxford Street,W1W 8LG,8512,69207,"TM7329,TS0001",51.515534,-0.141352

In [12]:
fields='place_id,name,formatted_address,geometry,permanently_closed,plus_code'
api_key='AIzaSyBTqRFNpFXp2r8o0lk6tbGIU92_35caKSU'
types = ['clothing_store'] #https://developers.google.com/places/supported_types
bound_upper = (51.516,-0.142)
bound_lower = (51.514,-0.140)

populartimes.get(api_key, types, bound_lower, bound_upper, n_threads (opt), radius (opt), all_places (opt))

api_key str; api key from google places web service; e.g. "your-api-key"
types [str]; placetypes; see https://developers.google.com/places/supported_types; e.g. ["bar"]
p1 (float, float); lat/lng of point delimiting the search area; e.g. (48.132986, 11.566126)
p2 (float, float); lat/lng of point delimiting the search area; e.g. (48.142199, 11.580047)
n_threads (opt) int; number of threads used; e.g. 20
radius (opt) int; meters; up to 50,000 for radar search; e.g. 180; this has can be adapted for very dense areas
all_places (opt) bool; include/exclude places without populartimes

In [27]:
populartimes_json = populartimes.get(api_key, types, bound_lower, bound_upper, radius=100, all_places=False)

In [28]:
df_populartimes = json_normalize(populartimes_json)
df_populartimes

,address,coordinates.lat,coordinates.lng,current_popularity,id,name,populartimes,rating,rating_n,time_spent,types
0,"221-223 Oxford Street, London",51.515315,-0.140434,NaN,ChIJD3tnriobdkgRpHY6aJsYkV4,Bershka,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.1,452,"[30, 60]","[clothing_store, store, point_of_interest, est..."
1,"200 Oxford Street, London",51.515608,-0.140587,NaN,ChIJLdnquSobdkgR25B2rOAd2SE,Urban Outfitters,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.0,826,"[25, 60]","[clothing_store, store, point_of_interest, est..."
2,"240 Regent Street, London",51.514259,-0.141341,NaN,ChIJ15C5P9UEdkgROn1RiOnasYU,AllSaints,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.5,160,"[30, 30]","[clothing_store, shoe_store, store, point_of_i..."
3,"214 Oxford Street, London",51.515514,-0.141265,NaN,ChIJwcDt38wEdkgRVG87ERhnAZU,Topman,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.3,318,"[25, 60]","[clothing_store, store, point_of_interest, est..."
4,"214 Oxford Street, London",51.515664,-0.141608,42.0,ChIJAxqaTdUadkgRFkNFlD7KaJw,Topshop,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.0,3212,"[25, 60]","[shoe_store, clothing_store, store, point_of_i..."
5,"225-235 Oxford Street, London",51.515306,-0.140471,NaN,ChIJzSIXryobdkgR8bU7ZPbjArk,Mango,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.8,432,"[30, 90]","[clothing_store, store, point_of_interest, est..."
6,"236 Oxford Street, London",51.515488,-0.141824,44.0,ChIJ3zo4WtUadkgRNOOu7NNP1ro,Nike Town,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.2,3458,"[20, 45]","[shoe_store, clothing_store, store, point_of_i..."
7,"223-235 Oxford Street, London",51.515278,-0.140818,NaN,ChIJVRgRryobdkgRyOeLEyYWeZw,Gap,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.1,428,"[30, 60]","[clothing_store, store, point_of_interest, est..."
8,"266-270 Regent Street, London",51.515128,-0.141646,NaN,ChIJpQtdUtUadkgRpk-zKQocwjM,Tezenis,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.0,90,"[20, 60]","[clothing_store, store, point_of_interest, est..."
9,"260 Regent Street, London",51.514955,-0.141628,NaN,ChIJOeq0sioFdkgRslMG0FPeDus,OMEGA Boutique - London Regent Street,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.8,22,NaN,"[clothing_store, jewelry_store, store, point_o..."
10,"256-258 Regent Street, London",51.514828,-0.141622,NaN,ChIJqXWfrCoFdkgRSw9ip_cIunI,& Other Stories,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",4.2,316,"[25, 60]","[clothing_store, store, point_of_interest, est..."
11,"244 Regent Street, London",51.514327,-0.141407,NaN,ChIJ3yE5ryoFdkgRULWv9Zzy2-g,Canada Goose London,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",3.8,203,"[20, 45]","[clothing_store, store, point_of_interest, est..."