In [10]:
!pip install pytrends
!pip install xlrd

Requirement already satisfied: pytrends in /srv/conda/envs/notebook/lib/python3.7/site-packages (4.6.0)
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pytrends) (0.24.2)
Requirement already satisfied: requests in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pytrends) (2.22.0)
Requirement already satisfied: lxml in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pytrends) (4.3.3)
Requirement already satisfied: numpy>=1.12.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas->pytrends) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas->pytrends) (2.8.0)
Requirement already satisfied: pytz>=2011k in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas->pytrends) (2019.1)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->pytrends) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->pytrends) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->pytrends) (1.25.3)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->pytrends) (1.12.0)
Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 4.8MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [11]:
from pytrends.request import TrendReq
import pandas as pd
import requests
import lxml
import xlrd

In [5]:
pytrend = TrendReq()

kw_list = ["Fashion"]
pytrend.build_payload(kw_list, cat=0, timeframe='today 5-y', geo='GB', gprop='')

In [7]:
interest_by_region_df = pytrend.interest_by_region(resolution='CITY', inc_low_vol=True)
print(interest_by_region_df.head())

                  Fashion
geoName
England               100
Northern Ireland       91
Scotland               88
Wales                  87

In [19]:
#https://data.gov.uk/dataset/b1f548a4-694c-438b-9551-af7a121e3395/ons-mid-year-population-estimates-custom-age-tables
link = 'https://data.london.gov.uk/download/ons-mid-year-population-estimates-custom-age-tables/11cff330-73d7-41ef-87c1-9b48337f98f4/ons-mye-custom-age-tool-uk-geogs-2015.xls'
population_estimates = pd.read_excel(link, sheet_name = 2, header=[1,2])

In [20]:
population_estimates

    Unnamed: 0_level_0                    Unnamed: 1_level_0       M          \
                  Code                               Borough       0       1
0            K02000001                        UNITED KINGDOM  398539  403020
1            K03000001                         GREAT BRITAIN  386146  390472
2            K04000001                     ENGLAND AND WALES  357381  361337
3            E92000001                               ENGLAND  340229  343868
4            E12000001                            NORTH EAST   14726   15096
5            E06000047                         County Durham    2715    2890
6            E06000005                            Darlington     634     641
7            E06000001                            Hartlepool     498     553
8            E06000002                         Middlesbrough    1004    1040
9            E06000057                        Northumberland    1442    1496
10           E06000003                  Redcar and Cleveland     753     762
11           E06000004                      Stockton-on-Tees    1224    1261
12           E11000007            Tyne and Wear (Met County)    6456    6453
13           E08000037                             Gateshead    1225    1117
14           E08000021                   Newcastle upon Tyne    1750    1711
15           E08000022                        North Tyneside    1166    1236
16           E08000023                        South Tyneside     809     860
17           E08000024                            Sunderland    1506    1529
18           E12000002                            NORTH WEST   44266   44473
19           E06000008                 Blackburn with Darwen    1092    1107
20           E06000009                             Blackpool     910     855
21           E06000049                         Cheshire East    1945    2076
22           E06000050             Cheshire West and Chester    1854    1839
23           E06000006                                Halton     792     818
24           E06000007                            Warrington    1223    1286
25           E10000006                               Cumbria    2452    2478
26           E07000026                             Allerdale     444     414
27           E07000027                     Barrow-in-Furness     369     376
28           E07000028                              Carlisle     623     632
29           E07000029                              Copeland     374     378
..                 ...                                   ...     ...     ...
410          S12000046                          Glasgow City    3703    3624
411          S12000017                              Highland    1167    1169
412          S12000018                            Inverclyde     378     407
413          S12000019                            Midlothian     566     543
414          S12000020                                 Moray     452     485
415          S12000013                    Na h-Eileanan Siar     104     138
416          S12000021                        North Ayrshire     672     671
417          S12000044                     North Lanarkshire    1894    1892
418          S12000023                        Orkney Islands     109      99
419          S12000024                     Perth and Kinross     735     746
420          S12000038                          Renfrewshire     903     941
421          S12000026                      Scottish Borders     482     596
422          S12000027                      Shetland Islands     112     125
423          S12000028                        South Ayrshire     527     530
424          S12000029                     South Lanarkshire    1760    1705
425          S12000030                              Stirling     407     447
426          S12000039                   West Dunbartonshire     481     484
427          S12000040                          West Lothian    1062    1099
428          N92000002                      NORTHERN IRELAND   12393   12548
429          N09000001               Antrim and Newtownabbey     906     926
430          N09000011                   Ards and North Down     909     908
431          N09000002  Armagh City, Banbridge and Craigavon    1484    1522
432          N09000003                               Belfast    2320    2356
433          N09000004              Causeway Coast and Glens     924     866
434          N09000005               Derry City and Strabane    1044    1034
435          N09000006                   Fermanagh and Omagh     713     729
436          N09000007               Lisburn and Castlereagh     935     957
437          N09000008                   Mid and East Antrim     789     801
438          N09000009                            Mid Ulster    1086    1154
439          N09000010                Newry, Mourne and Down    1283    1295

                                                     ...       F          \
          2       3       4       5       6       7  ...      82      83
0    413548  427117  421505  413235  408987  412479  ...  178566  172237
1    400825  413869  408438  400278  395764  399302  ...  173906  167917
2    371298  383366  377084  370477  365251  368849  ...  158386  152804
3    353389  364839  358063  351780  346685  350076  ...  148746  143927
4     15515   15978   16057   15839   15507   15665  ...    7867    7429
5      2994    2985    3104    3014    2917    2986  ...    1519    1410
6       680     682     654     695     680     599  ...     335     310
7       576     598     616     575     592     610  ...     294     305
8      1024    1010     995    1018     862     946  ...     399     330
9      1568    1689    1699    1733    1690    1820  ...    1008     997
10      838     894     860     778     774     828  ...     417     394
11     1321    1260    1315    1340    1268    1278  ...     531     520
12     6514    6860    6814    6686    6724    6598  ...    3364    3163
13     1118    1249    1251    1213    1222    1137  ...     644     568
14     1787    1806    1821    1797    1748    1742  ...     676     651
15     1174    1103    1253    1241    1291    1261  ...     661     653
16      845     885     853     882     887     845  ...     495     484
17     1590    1817    1636    1553    1576    1613  ...     888     807
18    45492   46715   45857   45335   44812   45652  ...   19693   19216
19     1159    1194    1111    1131    1092    1148  ...     312     290
20      892     876     747     824     852     846  ...     416     444
21     2121    2232    2146    2130    2197    2334  ...    1191    1163
22     2034    2001    1930    1874    1856    1959  ...    1018     991
23      828     871     860     825     815     885  ...     331     286
24     1278    1382    1265    1343    1352    1274  ...     514     479
25     2616    2609    2596    2624    2801    2749  ...    1720    1687
26      478     470     501     506     598     529  ...     319     336
27      390     372     359     351     424     393  ...     187     185
28      619     693     629     655     628     654  ...     331     357
29      413     407     383     370     364     383  ...     231     233
..      ...     ...     ...     ...     ...     ...  ...     ...     ...
410    3562    3598    3549    3147    3144    3117  ...    1548    1493
411    1148    1276    1298    1224    1424    1366  ...     736     711
412     390     419     448     448     409     452  ...     283     296
413     517     593     527     551     577     489  ...     217     221
414     539     472     567     536     550     610  ...     294     309
415     120     151     132     148     147     164  ...     120     112
416     670     750     759     727     796     751  ...     450     430
417    1965    2045    2057    2026    2073    2198  ...     887     803
418     121     122     109     117     135     106  ...      58      55
419     720     763     812     786     815     797  ...     479     503
420     985     986     938     967     987     962  ...     504     486
421     612     604     655     575     620     576  ...     405     371
422     143     143     157     156     144     126  ...      59      57
423     558     517     623     598     553     598  ...     447     393
424    1780    1883    1828    1727    1767    1806  ...     983     888
425     454     461     473     483     486     497  ...     262     269
426     520     550     558     536     551     527  ...     278     258
427    1042    1155    1237    1145    1259    1251  ...     351     405
428   12723   13248   13067   12957   13223   13177  ...    4660    4320
429     981     992     955    1035    1040    1055  ...     331     318
430     945     944     980     967    1026    1039  ...     466     453
431    1551    1606    1612    1553    1640    1598  ...     487     401
432    2313    2524    2385    2237    2329    2267  ...     937     867
433     904     927     945     885     947     994  ...     358     369
434    1046    1161    1084    1092    1130    1087  ...     313     267
435     818     833     795     877     882     847  ...     274     233
436     922     950    1001     980     965     917  ...     406     379
437     821     845     841     835     816     902  ...     372     346
438    1129    1072    1157    1134    1076    1104  ...     309     302
439    1293    1394    1312    1362    1372    1367  ...     407     385


         84      85      86      87      88     89     90+ No Females
0    162382  150471  133863  118573  105902  94082  392747        NaN
1    158349  146736  130504  115676  103262  91828  383772        NaN
2    144622  134327  119514  106179   94796  84304  355400        NaN
3    136326  126611  112679  100078   89128  79462  334623        NaN
4      7127    6390    5525    4811    4229   3742   14988        NaN
5      1373    1213    1084     912     823    748    2829        NaN
6       269     255     245     210     201    154     703        NaN
7       258     218     186     182     146    120     536        NaN
8       331     295     241     244     193    166     626        NaN
9       942     892     754     651     593    537    2218        NaN
10      379     365     320     257     235    195     885        NaN
11      539     470     326     301     261    231     987        NaN
12     3036    2682    2369    2054    1777   1591    6204        NaN
13      569     484     422     366     291    306    1107        NaN
14      665     570     501     466     412    348    1499        NaN
15      574     583     489     455     348    339    1273        NaN
16      435     393     383     307     307    240    1038        NaN
17      793     652     574     460     419    358    1287        NaN
18    17992   16546   14606   12925   11564  10144   41169        NaN
19      260     283     224     198     181    155     571        NaN
20      379     373     330     287     268    218    1038        NaN
21     1162    1097     961     865     757    640    2963        NaN
22      964     812     767     667     605    573    2262        NaN
23      251     244     202     171     157    136     493        NaN
24      463     435     384     321     325    237    1039        NaN
25     1556    1406    1310    1166    1077    980    3730        NaN
26      294     261     245     208     231    184     701        NaN
27      159     180     123     110     125    106     427        NaN
28      306     255     274     243     216    221     729        NaN
29      161     189     139     130     104    112     419        NaN
..      ...     ...     ...     ...     ...    ...     ...        ...
410    1367    1204    1014     944     783    734    2757        NaN
411     647     570     544     450     419    350    1355        NaN
412     256     228     186     146     158    130     512        NaN
413     197     180     161     131     105    104     374        NaN
414     294     209     204     182     177    135     525        NaN
415      79      79      84      67      55     51     234        NaN
416     357     306     295     255     206    209     765        NaN
417     695     654     593     446     405    345    1150        NaN
418      66      61      49      32      34     36     127        NaN
419     451     419     380     339     366    278    1087        NaN
420     482     422     352     269     249    239     852        NaN
421     340     324     260     227     206    183     755        NaN
422      41      39      47      49      34     25     128        NaN
423     361     322     292     254     212    224     841        NaN
424     846     729     674     587     492    416    1560        NaN
425     208     202     187     166     123    116     512        NaN
426     226     216     206     148     146    117     432        NaN
427     356     252     227     187     179    151     616        NaN
428    4033    3735    3359    2897    2640   2254    8975        NaN
429     304     255     253     226     203    176     667        NaN
430     402     363     365     301     317    264    1018        NaN
431     390     362     358     284     256    185     877        NaN
432     866     852     680     573     525    476    1808        NaN
433     319     299     265     229     215    182     695        NaN
434     247     198     209     174     160    132     470        NaN
435     237     219     198     185     162    145     570        NaN
436     327     308     273     230     201    177     705        NaN
437     376     321     289     260     221    176     783        NaN
438     248     234     211     183     158    155     595        NaN
439     317     324     258     252     222    186     787        NaN

[440 rows x 186 columns]