In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\james\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\james\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in c:\users\james\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [74]:
#https://data.gov.uk/dataset/b1f548a4-694c-438b-9551-af7a121e3395/ons-mid-year-population-estimates-custom-age-tables
link = 'https://data.london.gov.uk/download/ons-mid-year-population-estimates-custom-age-tables/11cff330-73d7-41ef-87c1-9b48337f98f4/ons-mye-custom-age-tool-uk-geogs-2015.xls'
population_estimates = pd.read_excel(link, sheet_name = 2, header=[1,2])

In [75]:
population_estimates.columns = population_estimates.columns.map('{0[0]}-{0[1]}'.format) 
population_estimates = population_estimates.rename(columns={'Unnamed: 0_level_0-Code':'Code', 'Unnamed: 1_level_0-Borough':'Borough'})
population_estimates.drop(columns=['M-No Males','F-No Females'], inplace=True)
population_estimates.head()

,Code,Borough,M-0,M-1,M-2,M-3,M-4,M-5,M-6,M-7,...,F-81,F-82,F-83,F-84,F-85,F-86,F-87,F-88,F-89,F-90+
0,K02000001,UNITED KINGDOM,398539,403020,413548,427117,421505,413235,408987,412479,...,188243,178566,172237,162382,150471,133863,118573,105902,94082,392747
1,K03000001,GREAT BRITAIN,386146,390472,400825,413869,408438,400278,395764,399302,...,183520,173906,167917,158349,146736,130504,115676,103262,91828,383772
2,K04000001,ENGLAND AND WALES,357381,361337,371298,383366,377084,370477,365251,368849,...,166658,158386,152804,144622,134327,119514,106179,94796,84304,355400
3,E92000001,ENGLAND,340229,343868,353389,364839,358063,351780,346685,350076,...,156542,148746,143927,136326,126611,112679,100078,89128,79462,334623
4,E12000001,NORTH EAST,14726,15096,15515,15978,16057,15839,15507,15665,...,8259,7867,7429,7127,6390,5525,4811,4229,3742,14988

In [86]:
population_estimates_melt = pd.melt(population_estimates, id_vars=['Code','Borough'], value_vars=population_estimates.columns[2:], value_name='Persons')
population_estimates_melt['Gender'] = population_estimates_melt['variable'].str[0:1]
population_estimates_melt['Age'] = population_estimates_melt['variable'].str[2:]
population_estimates_melt.drop(columns=['variable'], inplace=True)
population_estimates_melt.set_index(['Code'], inplace=True)
population_estimates_melt.sample(10)

                                Borough  Persons Gender Age
Code
E06000035                        Medway     2050      M  48
E10000013               Gloucestershire     2366      M  75
E06000002                 Middlesbrough     1062      F  24
E92000001                       ENGLAND   399660      F  49
E06000046                 Isle of Wight      659      F  31
E11000003  South Yorkshire (Met County)     6317      M  71
E09000027          Richmond upon Thames     1044      M  16
E07000168                   Scarborough      575      F  24
E07000107                      Dartford      271      M  74
W06000014             Vale of Glamorgan      823      F  61

In [ ]:
#what to do with 90+ age?
#set up age bins?
#create boundaries