In [1]:
!pip install pandas
import pandas as pd
import numpy as np
import requests # library to handle requests
import time
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

!conda install -c conda-forge folium --yes
import folium

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/22/e6/2d47835f91eb010036be207581fa113fb4e3822ec1b4bafb0d3d105fede6/pandas-0.24.2-cp37-cp37m-manylinux1_x86_64.whl (10.1MB)
     |████████████████████████████████| 10.1MB 3.4MB/s eta 0:00:01
Collecting pytz>=2011k (from pandas)
  Downloading https://files.pythonhosted.org/packages/3d/73/fe30c2daaaa0713420d0382b16fbb761409f532c56bdcc514bf7b6262bb6/pytz-2019.1-py2.py3-none-any.whl (510kB)
     |████████████████████████████████| 512kB 37.6MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Collecting numpy>=1.12.0 (from pandas)
  Downloading https://files.pythonhosted.org/packages/bb/76/24e9f32c78e6f6fb26cf2596b428f393bf015b63459468119f282f70a7fd/numpy-1.16.3-cp37-cp37m-manylinux1_x86_64.whl (17.3MB)
     |████████████████████████████████| 17.3MB 37.4MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.16.3 pandas-0.24.2 pytz-2019.1
Collecting package metadata: done
Solving environment: done

## Package Plan ##

  environment location: /srv/conda/envs/notebook

  added / updated specs:
    - folium


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-3.0.1               |           py37_0         727 KB  conda-forge
    asn1crypto-0.24.0          |        py37_1003         154 KB  conda-forge
    branca-0.3.1               |             py_0          25 KB  conda-forge
    cffi-1.12.3                |   py37h8022711_0         218 KB  conda-forge
    chardet-3.0.4              |        py37_1003         167 KB  conda-forge
    cryptography-2.6.1         |   py37h72c5cf5_0         607 KB  conda-forge
    folium-0.9.0               |             py_0          59 KB  conda-forge
    idna-2.8                   |        py37_1000         100 KB  conda-forge
    libblas-3.8.0              |      10_openblas           6 KB  conda-forge
    libcblas-3.8.0             |      10_openblas           6 KB  conda-forge
    libgfortran-ng-7.3.0       |       hdf63c60_0         1.3 MB  defaults
    liblapack-3.8.0            |      10_openblas           6 KB  conda-forge
    numpy-1.16.3               |   py37he5ce36f_0         4.3 MB  conda-forge
    openblas-0.3.6             |       h6e990d7_2        15.8 MB  conda-forge
    pandas-0.24.2              |   py37hf484d3e_0        11.1 MB  conda-forge
    pycparser-2.19             |           py37_1         171 KB  conda-forge
    pyopenssl-19.0.0           |           py37_0          81 KB  conda-forge
    pysocks-1.7.0              |           py37_0          26 KB  conda-forge
    pytz-2019.1                |             py_0         227 KB  conda-forge
    requests-2.22.0            |           py37_0          84 KB  conda-forge
    toolz-0.9.0                |             py_1          42 KB  conda-forge
    urllib3-1.24.3             |           py37_0         151 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        35.3 MB

The following NEW packages will be INSTALLED:

  altair             conda-forge/linux-64::altair-3.0.1-py37_0
  asn1crypto         conda-forge/linux-64::asn1crypto-0.24.0-py37_1003
  branca             conda-forge/noarch::branca-0.3.1-py_0
  cffi               conda-forge/linux-64::cffi-1.12.3-py37h8022711_0
  chardet            conda-forge/linux-64::chardet-3.0.4-py37_1003
  cryptography       conda-forge/linux-64::cryptography-2.6.1-py37h72c5cf5_0
  folium             conda-forge/noarch::folium-0.9.0-py_0
  idna               conda-forge/linux-64::idna-2.8-py37_1000
  libblas            conda-forge/linux-64::libblas-3.8.0-10_openblas
  libcblas           conda-forge/linux-64::libcblas-3.8.0-10_openblas
  libgfortran-ng     pkgs/main/linux-64::libgfortran-ng-7.3.0-hdf63c60_0
  liblapack          conda-forge/linux-64::liblapack-3.8.0-10_openblas
  numpy              conda-forge/linux-64::numpy-1.16.3-py37he5ce36f_0
  openblas           conda-forge/linux-64::openblas-0.3.6-h6e990d7_2
  pandas             conda-forge/linux-64::pandas-0.24.2-py37hf484d3e_0
  pycparser          conda-forge/linux-64::pycparser-2.19-py37_1
  pyopenssl          conda-forge/linux-64::pyopenssl-19.0.0-py37_0
  pysocks            conda-forge/linux-64::pysocks-1.7.0-py37_0
  pytz               conda-forge/noarch::pytz-2019.1-py_0
  requests           conda-forge/linux-64::requests-2.22.0-py37_0
  toolz              conda-forge/noarch::toolz-0.9.0-py_1
  urllib3            conda-forge/linux-64::urllib3-1.24.3-py37_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1



Downloading and Extracting Packages
libcblas-3.8.0       | 6 KB      | ##################################### | 100%
pandas-0.24.2        | 11.1 MB   | ##################################### | 100%
pyopenssl-19.0.0     | 81 KB     | ##################################### | 100%
branca-0.3.1         | 25 KB     | ##################################### | 100%
cryptography-2.6.1   | 607 KB    | ##################################### | 100%
chardet-3.0.4        | 167 KB    | ##################################### | 100%
pycparser-2.19       | 171 KB    | ##################################### | 100%
libgfortran-ng-7.3.0 | 1.3 MB    | ##################################### | 100%
requests-2.22.0      | 84 KB     | ##################################### | 100%
pysocks-1.7.0        | 26 KB     | ##################################### | 100%
openblas-0.3.6       | 15.8 MB   | ##################################### | 100%
altair-3.0.1         | 727 KB    | ##################################### | 100%
liblapack-3.8.0      | 6 KB      | ##################################### | 100%
folium-0.9.0         | 59 KB     | ##################################### | 100%
pytz-2019.1          | 227 KB    | ##################################### | 100%
libblas-3.8.0        | 6 KB      | ##################################### | 100%
numpy-1.16.3         | 4.3 MB    | ##################################### | 100%
asn1crypto-0.24.0    | 154 KB    | ##################################### | 100%
idna-2.8             | 100 KB    | ##################################### | 100%
urllib3-1.24.3       | 151 KB    | ##################################### | 100%
cffi-1.12.3          | 218 KB    | ##################################### | 100%
toolz-0.9.0          | 42 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting package metadata: done
Solving environment: done

## Package Plan ##

  environment location: /srv/conda/envs/notebook

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geographiclib-1.49         |             py_0          32 KB  conda-forge
    geopy-1.19.0               |             py_0          53 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          85 KB

The following NEW packages will be INSTALLED:

  geographiclib      conda-forge/noarch::geographiclib-1.49-py_0
  geopy              conda-forge/noarch::geopy-1.19.0-py_0



Downloading and Extracting Packages
geographiclib-1.49   | 32 KB     | ##################################### | 100%
geopy-1.19.0         | 53 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [2]:
#Download store locations and remove unwanted columns

df = pd.read_csv("https://raw.githubusercontent.com/ninjananjo/Clothing-Store-Competition/master/StoreLocations.csv", encoding = 'ISO-8859-1')
df = df[['TOWN','NAME','ID','COUNTRY','Address1','Postcode','Host','PNO','NSF']]
#df = df[df['NSF'] > 1000] 
#df = df[(df['ID'].str.startswith("TS"))|(df['ID'].str.startswith("TM"))]
print(df.shape)
#df.head()

(387, 9)

In [3]:
#Group by Host

grouped_id = df.groupby('Host').apply(lambda x: ','.join(x.ID)).reset_index()
grouped_id.rename({0:'Branch IDs'}, axis='columns', inplace=True)
df = df.groupby(['Host']).last()
df = df.merge(grouped_id, left_on='Host',right_on='Host')
df.drop(columns=['ID'], inplace=True)
print(df.shape)
#df.head()

(204, 9)

In [6]:
#get latitude and longitude data

def getLocation(storeName, postcode, country):
    
    if country == 'ENG': country = "UK"
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode(str(postcode)+" "+country, timeout=10)
    location_alt = geolocator.geocode(storeName+" "+country, timeout=10)
    try:
        lat = location.latitude
        lng = location.longitude
    except:
        try:
            lat = location_alt.latitude
            lng = location_alt.longitude
        except:
            lat = 0
            lng = 0
            
    return(lat,lng)

In [7]:
#Add latitude and longitude to dataframe

latitude = []
longitude = []

for storeName, postcode, country in zip(df['NAME'],df['Postcode'],df['COUNTRY']):
    lati, lngi = getLocation(storeName, postcode, country)
    latitude.append(lati)
    longitude.append(lngi)
    time.sleep(0.5)
    
df.loc[:,'Latitude']= latitude
df.loc[:,'Longitude']= longitude
#remove regions that location information was not available
df = df[(df['Latitude']!=0)| (df['Longitude']!=0)]
print(df.shape[0])
df.head()

200

,Host,TOWN,NAME,COUNTRY,Address1,Postcode,PNO,NSF,Branch IDs,Latitude,Longitude
0,TM7157,OLDHAM,OLDHAM,ENG,Unit 3,OL1 1XE,1361,2200,TM7157,53.541672,-2.112246
1,TM7345,CHESTER,CHESTER,ENG,12/14 St Michael's Square,CH1 1EE,1748,3300,"TM7345,TS0324",53.189646,-2.889252
2,TM7439,Z EIRE DUBLIN,DUBLIN (GRAFTON ST),EIR,41 Grafton Street,NaN,5028,3300,TM7439,48.056514,-4.111926
3,TM7782,SHOREDITCH,SHOREDITCH,ENG,98 Commercial Street,E1 6LZ,968,1150,TM7782,51.520023,-0.074251
4,TM7815,DARLINGTON,DARLINGTON,ENG,28-34 Northgate,DL1 1NR,1660,2478,TM7815,54.526350,-1.554351

In [8]:
#Foursquare credentials

CLIENT_ID = 'QKP4KVQQZPVXMOKNIXHGQAT1E2IJZCHQPFB4XJGP3MC0CFUO' # your Foursquare ID
CLIENT_SECRET = '1N5BIRBR1EA5CO1QFMNHU1241SOFM5KJLLQRJGMDC0NOYWPH' # your Foursquare Secret
VERSION = '20190501' # Foursquare API version
LIMIT = 400 # limit of number of venues returned by Foursquare API
radius = 10000 # define radius
categoryId = '4bf58dd8d48988d1f2941735' #Sporting Goods Shop

In [9]:
#Find nearby sporting good shops

def getNearbyVenues(names, latitudes, longitudes, radius=500):    
    
    store_list = []
    lat_list = []
    lng_list = []
    
    for name, lat, lng in zip(names, latitudes, longitudes):
                    
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&categoryId={}'.format(    
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT,
            categoryId)
        
        #print(url) 
        
        # make the GET request
        results = requests.get(url).json()["response"]
        
        #flatten JSON file
        resultsVen = json_normalize(results['venues'])
        resultsCat = json_normalize(data=results['venues'], record_path=['categories'], record_prefix='cat_', errors='ignore')
        resultsVenCat = pd.concat([resultsVen, resultsCat], axis=1)
        resultsVenCat = resultsVenCat[['id','name','location.distance','location.formattedAddress','location.lat','location.lng','cat_name']]
        
        #Add region name 
        for i in range(0,resultsVen.shape[0]):
            store_list.append(name)
            lat_list.append(lat)
            lng_list.append(lng)

        store = pd.DataFrame([store_list,lat_list,lng_list]).T
        nearbyVenues = pd.concat([store, resultsVenCat], axis=1)

    return(nearbyVenues)

In [11]:
regions_venues = pd.DataFrame()

#request venue information for each region and store in regions_venues
for storeId in df['Host'].unique():
    store_info = df[df['Host']==storeId]
    regions_venues = regions_venues.append(getNearbyVenues(names=store_info['Host'],
                                                  latitudes=store_info['Latitude'],
                                                  longitudes=store_info['Longitude'],
                                                  radius=radius),ignore_index=True)
    
#rename columns
regions_venues.rename(columns={0:'Host ID',
                          1:'Host Lat',
                          2:'Host Lng',
                          'id':'Venue ID',
                          'name':'Venue Name',
                          'location.distance':'Venue Distance',
                          'location.formattedAddress':'Venue Address',
                          'location.lat':'Venue Lat',
                          'location.lng':'Venue Lng',
                          'cat_name':'Venue Category'}, inplace=True)

print(regions_venues.shape[0])
regions_venues.head()

5471

,Host ID,Host Lat,Host Lng,Venue ID,Venue Name,Venue Distance,Venue Address,Venue Lat,Venue Lng,Venue Category
0,TM7157,53.5417,-2.11225,4d0f4ef7cf09a143e980240f,Sports Direct,76,"[15-17 High St., Oldham, Lancashire, OL1 3AJ, ...",53.542042,-2.113216,Sporting Goods Shop
1,TM7157,53.5417,-2.11225,5af008d0628c83002cdb1011,DW Fitness First,12659,"[Gelderd Road, Birstall, Leeds, WF17 9TD, Unit...",53.470197,-2.260968,Gym
2,TM7157,53.5417,-2.11225,581c781c77259217e0937626,Kids Foot Locker,10824,"[The Arndale Centre, unit 10B, Cromford Court ...",53.483238,-2.242959,Shoe Store
3,TM7157,53.5417,-2.11225,5b7f0f5e4a7aae002cf533ea,JD Sports,7061,"[The Sharp Project (Thorpe Rd), Manchester, Gr...",53.501436,-2.194744,Sporting Goods Shop
4,TM7157,53.5417,-2.11225,5a8ecd550881587526bae41b,JD Sports,9173,"[Unit 18 Crown Point North Denton, Denton, Tam...",53.459318,-2.117344,Sporting Goods Shop

In [29]:
#Excludes non JD Sports, adds host information then exports to csv

jdsports = regions_venues[regions_venues['Venue Name']=='JD Sports']
jdsports = jdsports.merge(df, left_on = 'Host ID', right_on = 'Host')
jdsports.drop(columns=['Host','Latitude','Longitude'], inplace=True)
column_order = jdsports.columns.tolist()
column_order = column_order[0:3] + column_order[10:] + column_order[3:10]
jdsports = jdsports[column_order]
jdsports.to_csv('jdsports_proximity.csv', index=False)
print(jdsports.shape[0])
jdsports.head()

496

,Host ID,Host Lat,Host Lng,TOWN,NAME,COUNTRY,Address1,Postcode,PNO,NSF,Branch IDs,Venue ID,Venue Name,Venue Distance,Venue Address,Venue Lat,Venue Lng,Venue Category
0,TM7157,53.5417,-2.11225,OLDHAM,OLDHAM,ENG,Unit 3,OL1 1XE,1361,2200,TM7157,5b7f0f5e4a7aae002cf533ea,JD Sports,7061,"[The Sharp Project (Thorpe Rd), Manchester, Gr...",53.501436,-2.194744,Sporting Goods Shop
1,TM7157,53.5417,-2.11225,OLDHAM,OLDHAM,ENG,Unit 3,OL1 1XE,1361,2200,TM7157,5a8ecd550881587526bae41b,JD Sports,9173,"[Unit 18 Crown Point North Denton, Denton, Tam...",53.459318,-2.117344,Sporting Goods Shop
2,TM7157,53.5417,-2.11225,OLDHAM,OLDHAM,ENG,Unit 3,OL1 1XE,1361,2200,TM7157,4b7ec528f964a52010fe2fe3,JD Sports,10794,"[16-18 Arndale Centre, Barbarolli Mall, Manche...",53.483574,-2.242812,Sporting Goods Shop
3,TM7157,53.5417,-2.11225,OLDHAM,OLDHAM,ENG,Unit 3,OL1 1XE,1361,2200,TM7157,4c6aca2f897b1b8d72b1b217,JD Sports,2522,"[Unit 3 Centre Retail Park Elk Mill, Oldham, L...",53.558100,-2.138509,Sporting Goods Shop
4,TM7157,53.5417,-2.11225,OLDHAM,OLDHAM,ENG,Unit 3,OL1 1XE,1361,2200,TM7157,4da1ab35b3e7236a011e0e79,JD Sports,10027,"[Unit B Central Retail Park Gt Ancoats St, Man...",53.482402,-2.226314,Sporting Goods Shop